html {
    scroll-behavior: smooth;
    font-family: 'Quicksand', sans-serif !important;
}


.no-t-border {
    border-top: none !important;
}

.quicksand-font{
    font-family: 'Quicksand', sans-serif !important;
}

.pdf{
    margin-left: 180px; 
}

.thumb_div{
    max-height: 450px;
}

.in_exterior img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    height: 100%;   
}

.in_exterior img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }

#id_price {
    text-align: left !important;
}

.logo {
    width: 105px !important;
    height: 90px !important;
    border: 2px solid rgb(47, 46, 46) !important;
}

.color_15 {
    font: normal normal normal 16px/1.4em futura-lt-w01-light, Rosarivo;
    color: #AFAEAE;
}

#comp-ir1r4w4s {
    position: relative;
    margin: 5px 0px 5px 0;
    left: 10px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
}

.txtNew {
    word-wrap: break-word;
    text-align: start;
}

.txtNew h1 {
    margin: 0;
    line-height: normal;
    letter-spacing: normal;
}

/*.nav-item { */
/*    font-family: 'Quicksand', sans-serif;*/
/*    !* font: normal normal normal 14px/1.4em serif; *!*/
/*    font-size: 14px;*/
/*    padding: 0 5px 0 5px;*/
/*    !* border-left: 2px solid;  *!*/
/*    !* line-height: 16px; *!*/
/*}*/

/*.nav-link {*/
/*    color: #2F2E2E !important;*/
/*}*/



.nav-link:hover {
    color: #5ca6cf!important;
}

.white-background {
    background-color: #ffffff !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

table {
    font-family: didot-w01-italic, serif;
}

form {
    margin-left: 100px !important;
    margin-right: 100px !important;
}

.fab {
    color: white;
    font-size: 15px;
}


.patent-class {
    width: 100%;
    color: #a0a09f !important;
    font-family: normal normal normal 16px/1.4em futura-lt-w01-light, sans-serif !important;
}
.footer-color{
    background-color: #2F2E2E;
}
.footer-color input{
    min-width: 130px;
    border: 1px solid white !important;
}
.footer-address{
    color: #cccbcb;
    font-family: normal normal normal 18px/1.5em futura-lt-w01-light,sans-serif;
}
.f-header {
    color: white;
    font: normal normal normal 16px/1.4em didot-w01-italic, serif;
}
.f-header h1 {
    font-size: 65px;
    line-height: 100px;
}

.sub-btn {
    padding: 4px 14px 4px 14px !important;
    font-size: 20px !important;
    font-weight: bold;
}

#id_1-how_much_letter_of_credit,
#id_1-how_much_line_of_credit {
    text-align: left !important;
    autocomplete: on;
}

#id_12{
    margin-top: -1rem;
    margin-left: 2.4rem;
    width: 50%;
}

.subs-btn {
    border-radius: unset;
    font-weight: 600;
}

.subs-btn:hover {
    color: white;
    background: black;
}

.subs-field {
    color: #fff!important;
    border: 1px solid #000000 !important;
    padding-left: 10px;
}

.subs-field:hover{
    color: #000!important;
    background-color: #ffffff !important;
}

.btn-black:hover {
    background-color: #0d0d0ddb !important;
    color: #fff;
}

.subs-field:active {
    color: #000!important;
    background-color: #ffffff !important;
}

/* .md-padding {
    margin-top: 5% !important;
    margin-bottom: 5% !important;
} */
.nav-bg-color{
    background-color: white;
    -webkit-box-shadow: none !important;
}

.capture_image_div{
    background-color: rgb(0,0,0,0.7);
    /*display: none;*/
    position: fixed;
    z-index: 10000;
    top:7%;
    bottom: 5%;
    width: 100%;
    left: 0;
    right: 0;
    align-content: center;
    vertical-align: center;
    transition: transform .3s ease-out;
    transform: translateY(-200%);
}
.open{
    display: block;
    transform: translateY(0);
   transition: transform .3s ease-out;

}
.close{
    float: right;
    font-size: 34px;
    color: #555555;
    line-height: 0;
}

.navbar .dropdown-menu a{
    color: #9d9f9f !important;
}

.close:hover{
    color: White;
    font-size: 34px;
    background-color: black !important;
    opacity: 1;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    background-color: white !important;
    opacity: 1;
}

#div_id_how_much_letter_of_credit,
#div_id_how_much_line_of_credit,
#div_id_2-other_type_of_development,
#div_id_other_type_of_climate_area,
#div_id_other_when_to_order,
#access_time_div {
    display: none;
}

.boxshadow2 {
    padding: 40px 20px;
    border-color: 0 15px 20px rgb(209, 209, 209);
    -webkit-box-shadow: 0 15px 20px rgba(209, 209, 209);
    -moz-box-shadow: 0 15px 20px rgba(209, 209, 209);
    box-shadow: 10 15px 20px rgba(209, 209, 209);
    overflow: hidden !important;
}

.radio_ul ul {
    list-style: none;
}

.check_ul ul {
    list-style: none;
}

#id_8,
#id_16,
#id_10,
#id_12,
#id_14,
#id_16 {
    display: none;
}


/* .slideOne */

.slideOne {
    width: 50px;
    height: 10px;
    background: #333;
    margin: 20px auto;
    position: relative;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}

.slideOne label {
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: -3px;
    left: -3px;
    cursor: pointer;
    background: #fcfff4;
    background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 50px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease;
}

.slideOne input[type=checkbox] {
    visibility: hidden;
}

.slideOne input[type=checkbox]:checked+label {
    left: 37px;
}


/* .slideThree */

.slideThree {
    width: 80px;
    height: 26px;
    background: #333;
    margin: 20px auto;
    position: relative;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}

.slideThree:after {
    content: 'OFF';
    color: #000;
    position: absolute;
    right: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}

.slideThree:before {
    content: 'ON';
    color: #27ae60;
    position: absolute;
    left: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
}

.slideThree label {
    display: block;
    width: 34px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;
    background: #fcfff4;
    background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 50px;
    transition: all 0.4s ease;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.slideThree input[type=checkbox] {
    visibility: hidden;
}

.slideThree input[type=checkbox]:checked+label {
    left: 43px;
}


/* end .slideThree */


/* home */

.c-banner {
    margin-top: 0px !important;
    margin-bottom: 80px !important;
}

.content-2 {
    margin-top: 100px !important;
    margin-bottom: 100px !important;
}

.font_8 {
    /* font: normal normal normal 17px futura_ltregular, sans-serif;
    color: #2F2E2E; */
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    text-align: justify;
}

.font_3 {
    font: normal normal normal 60px/1.4em didot-w01-italic, serif;
    color: #2F2E2E !important;
}

.feature_pro{
    letter-spacing:0.15em;
    font: normal normal normal 22px/1.4em futura_ltregular,sans-serif;
}

.font_7days{
    font-size:50px;
    font-family: 'Quicksand', sans-serif;
    /* font: normal normal normal 4em/1.4em didot-w01-italic,serif; */
    font-style: italic;
    color: #2F2E2E;
}

.row2-font{
    font-family: 'Quicksand', sans-serif;
    font-style: italic;
    color: #2F2E2E;
    font-size: 5vw;
    text-align: center;
}
.row2-font p{
    line-height: 1.2em;
}

.l-hieght {
    line-height: 3px !important;
}

.view_order_table {
    font-family: Montserrat;
    border-bottom: 2px solid;
}

.view_order_table {
    border-bottom: 2px solid;
}

.view_order_table thead{
    border-bottom: 2px solid;
}

.view_order_table tbody tr{
    border-bottom: 1px solid;
}

.view_order_table tbody tr td{
    vertical-align: middle;
    border: none;
}

.view_order_table thead th {
    vertical-align: bottom;
    border-bottom: none;
}

.view_order_table th {
    color: #5CA6CF;
    font-size: 1rem;
    font-weight: 600;
    vertical-align: middle !important;
}

.view_order_table td {
    font-size: 1rem;
    padding: 2rem 3px 2rem 3px !important;
    /* content: ''; */
    /* display: block;  */
    width: 5em;
}


/* radio */

.container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.admin_check_radio_ul ul li {
    color: #635b5b;
    display: block;
    position: relative;
    float: left;
    height: 100px;
}

.admin_check_radio_ul ul li input[type="radio"] {
    position: absolute;
    visibility: hidden;
}

.admin_check_radio_ul ul li label {
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1.35em;
    padding: 25px 25px 25px 80px;
    margin: 10px auto;
    height: 30px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}

.admin_check_radio_ul ul li:hover label {
    color: #181616;
}

.admin_check_radio_ul ul li .check {
    display: block;
    position: absolute;
    border: 5px solid #aaaaaa;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    top: 40px;
    left: 25px;
    z-index: 5;
    transition: border 0.25s linear;
    -webkit-transition: border 0.25s linear;
}

.admin_check_radio_ul ul li:hover .check {
    border: 5px solid #be7070;
}

.admin_check_radio_ul ul li .check::before {
    display: block;
    position: absolute;
    content: "";
    border-radius: 100%;
    height: 15px;
    width: 15px;
    top: 0px;
    left: 0px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

input[type="radio"]:checked~.check {
    border: 5px solid #08c570;
}

input[type="radio"]:checked~.check::before {
    background: #0f442c;
}

input[type="radio"]:checked~label {
    color: #032013;
}


/* radio */

#hide {
    /* background: ; */
    z-index: 5;
    height: 50%;
    width: 100%;
}

.below_class :hover {
    cursor: pointer;
}

/* .overlay {
    position: relative;
    height: 100%;
    width: 110%;
    left: -15px;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .4;
    z-index: 3;
    background-color: #1b1e21;

} */
.overlay h1{
    opacity: 1;
}

.carousel-img1 {
    width: 100%;
    max-height: 100vh !important;
}

.slider-content {
    position: absolute;
    top: 80%;
    left: 0%;
    font-size: 20px;
    background-color: rgba(202, 196, 196, 0.734);
    padding: 1% 3% 1% 3%;
    font-weight: 400;
}


.order_form_h2 h2 {
    text-align: center;
    font-weight: bold;
    padding: 2%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.order_form_h2 b {
    font-weight: bold;
}
.order_form_h2 p {
    font-size: 20px;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: #575d5e;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    border:1px solid #ecf0f1;
    background:#d7dadb;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
}

input[type="date"], focus {
    color: #2c3333;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}


@font-face {
    font-family: 'Brush Script Std';
    src: url('/static/users/fonts/custom_font/BrushScriptStd.ttf');
    font-weight: normal;
    font-style: normal;
}

.forget-pass{
    color: #5ca6cf;
    text-decoration: underline;
}

.login-btn {
    width: 50%;
}

.log-register {
    font-weight: 400;
}

.button-font{
    font-weight: 500;
}

.log-register h2 {
    text-transform: uppercase;
    font-weight: bolder;
}

#asd {
    list-style: disc !important;
}

.perks {
    font-size:16px;
    /* line-height:1rem; */
    color:#000000;
}

.top-add{
    padding-top: 14px;
    text-align: center;
    color: white;
    font-weight: 400;
}

.add-bar{
    font-size: .88em;
    height: 50px;
}
.text-info{
    color: #5ca6cf;
}
.text-info1{
    color: #5ca6cf;
}


.top-add a{
    color: white !important;
    font-weight: 500;
    text-decoration: underline;
}

#add-bar-control-prev {
    position: absolute;
    left: -15px;
    width: 10%;
}

#add-bar-control-next{
    position: absolute;
    right: -15px;
    width: 10%;
}

#add-bar-control-prev-icon{
    position: absolute;
    left: 0px;
    width: 30px !important;
    height: 30px !important;
}

#add-bar-control-next-icon{
    position: absolute;
    right: 0px;
    width: 30px !important;
    height: 30px !important;
}

.nav-margin{
    margin-left: 20px;
}
.place-order-btn{
    padding: 3px 12px 3px 12px;
}

#nav_{
    z-index: 5;
}
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255); /* Black background with opacity */
    z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }
.agreement-form{
    font-weight: 400;
}

.agreement-form ul{
    list-style: none;
}
.agreement-form ul li{
    display: inline;
}

.agreement-form ul li:nth-child(2){
    float: right;
}

.agreement-form input{
    font-family: Brush Script Std;
}

.agreement-form legend{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}
  
.agreement-terms{
    height: 70vh;
    border: 5px solid #555;
    border-radius: 2px;
    border-bottom: none;
    padding: 0;
}

.terms-btn{
    background-color: #e2f0cd;
    border-radius: 2px;
}

.img-div{
    overflow: auto;
}

.no-margin{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.map-border{
    border: 3px solid rgb(31, 31, 31);
}

canvas{
    width: 100% !important;
}


.buyer_app_form_label{
    font-weight: 400;
}

.buyer_app_form_label div{
    margin-bottom: 18px;
   

}
.buyer_app_form_label ul{
    overflow: visible;

}

.buyer_app_form_label li{
    font-size: 15px;
    display: inline;
    padding: 16px 13px 16px 0px;
}

.buyer_app_form_label li label{
    padding: 7px 15px 7px 8px;
    border: 2px solid darkgrey;
    border-radius: 5px;
}

.buyer_app_form_label li label:hover{
    border: 2px solid #007bff;
    border-radius: 5px;
}


.checkbox_checked{
    border-color: #1A78F2 !important;
    color: #1A78F2;
}

#_3d_render{
    height: 100vh;
    width:  100%;
}
.card-img-top {
    height: 250px !important;
}
.card-footer {
    text-align: center;
}
.home-anchor {
    color: #000000 !important;
    text-decoration: underline;
}

.registration_form_input{
    background-color: #f2f2f2;
}

.registration_form_input .navbar-custom .navbar-brand {
text-transform: uppercase;
font-size: 1rem;
letter-spacing: .1rem;
font-weight: 700;
font-family: Hoefler Text;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
color: white;
width: 55px;
height: 55px;
border: 1px solid #999;
white-space: initial;
padding: 6px 4px;
}
.registration_form_input nav {
padding: 25px;
border-bottom: 1px white solid;
}

.custom_input input, select{
    padding: 10px;
    border-radius: 12px;
    width: 100%;
    background-color: #f2f2f2;
    border: 1px solid #949496;
    margin-left: 10px;
}

.custom_input label {
    margin: 6px;
    padding: 5px;
    margin-top: 20px;
    font-family: Franklin Gothic Book;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.12em;
    color: #555555;
    }

.sign_up_font{
    font-family: Franklin Gothic Book;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.12em;
}

.btn-custom{
    background-color: #5ca6cf;
    color: whitesmoke !important;
    font-size: 18px !important;
    line-height: 20px;
    letter-spacing: 0.12em;
    border-radius: 10px !important;
}

.margin-auto{
    margin: auto !important;
    /*padding: auto;*/
}

.create_acct_h1{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    /* identical to box height */
    letter-spacing: 0.12em;
    color: #555555;
}

.adjust-spacing{
    padding: 3rem;
    margin: 3rem;
}

.loading_bar{
    padding-top: 1px;
    background-color: #555555;
    height: 22px;
    color: white;
    font-size: 17px;
    width: 80%;
    margin: auto;
    margin-bottom: 3rem;
}

.project-tab {
    padding: 2%;
}

.project-tab #tabs{
    background: #007b5e;
    color: #eee;
}
.project-tab #tabs h6.section-title{
    color: #eee;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link .active {
    color: #5ca6cf;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: bold;
}
.project-tab .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #5ca6cf;
    font-size: 16px;
    font-weight: 600;
}
.project-tab .nav-link:hover {
    border: none;
}
.project-tab thead{
    background: #f3f3f3;
    color: #333;
}
.project-tab a{
    text-decoration: none;
    color: #333;
    font-weight: 500;
}
.project-tab ul li a{
    color: #999999;
    list-style-type: none;
}

.project-tab ul li a:hover{
    color: #5ca6cf !important;
}

.project-tab ul li{
    list-style-type: none;
}
.project-tab ul {
    padding-left: 2rem;
}

.side-nav {
    font-weight: 500;
}

.side-nav li{
    padding: 4px 0 3px 0;
}

.side-nav li a{
    color: #999999;
    padding: 3px 0 3px 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.custom_font2{
    font-family: Montserrat !important;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}
.active1 {
    color: #5ca6cf!important;
    font-weight: 500 !important;
}
.side-nav li a:hover{
    color: #5ca6cf !important;
    font-weight: 500;
}

.top_border{
    border-top: 3px solid #555555;
}

.bottom_border{
    border-bottom: 3px solid #555555;
}

#nav-tabContent{
    margin-top: 3rem;
    border-top: 3px solid #555555;
}

#nav-tabContent ul li{
    color: #dd614c !important;
}


.update_pref ul li{
    display: inline-flex;
    width: 150px !important;
    margin: 0px 50px 0px 62px;
}

/* media queries */
@media only screen and (max-width: 991px) {

    form {
        padding: 2rem;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}

@media only screen and (max-width: 825px) {
    .add-bar{
        height: 50px;
        font-size: 12px;
    }   
}

@media only screen and (max-width: 768px) {
    .adjust-spacing{
        padding: 1rem;
        margin: 1rem;
    }
    .row2-font{
        font-size: 2.8rem;
    }
    .remove-slider{
        position: absolute;
        top: 50px;
        width: 100%;
        height: 80vh;
        background-image: url('/static/users/imgs/2-story-front-view.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: -1;
    }
    .static-slider{
        width: 100%;
        height: 80vh;
    }
    #mobile-hide{
        display: none;
    }
    .color_15{
        color: whitesmoke;
    }
    .logo{
        border-color: whitesmoke !important;
    }
}

@media only screen and (max-width: 767px) {
    .font_7days{
        font-size: 36px;
    }
    .loading_bar {
    font-size: 14px;
    width: 100%;
    }
    /* .md-padding {
        display: none;
    } */
}

@media only screen and (max-width:685px) {
    #add-bar-control-prev {
        display: none;
    }
    #add-bar-control-next{
        display: none;
    } 
}

@media only screen and (max-width: 430px) {
    
    .float-unset button{
        width: 90px !important;
        font-size: 12px !important;
        padding: 12px 5px !important;
    }
    .buyer_app_form_label{
        font-size: 15px;
    }

    .buyer_app_form_label li{
        font-size: 13px;
        padding: 16px 0px 16px 5px;
    }
    
    .buyer_app_form_label li label{
        padding: 5px 13px 5px 8px;
    }
    .boxshadow2 {
        padding: 40px 0px
    }

    
}

@media only screen and (max-width: 427px) {
    .add-bar{
        height: 65px;
        font-size: 12px;
    }
    .remove-slider{
        top: 65px;
    }   
}

@media only screen and (max-width: 345px) {
    .top-add{
        padding-top: 10px;
        font-size:11px;
    }
    .app_form_h2{
        font-size: 8.6vw;
    }
}

@media only screen and (max-width: 254px) {
    .float-unset button{
        width: 80px !important;
    }
}

@media only screen and (max-width: 234px) {
    .float-unset {
        float: right;
    }
}

@media screen and (max-width: 600px) {
    .mobile-hide {
      display: none;
    }
  }