
 /*The container*/

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/*!* Hide the browser's default checkbox *!*/
.checkbox-container input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
 .checkbox-container input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 3px;
  left: -3px;
  height: 25px;
  width: 25px;
  background-color: #ccc;
  border-radius: 4px;
}


/* When the checkbox is checked, add a background */
.checkbox-container input:checked[type="checkbox"] ~ .checkmark {
  background-color: #5ca6cf;
}
.checkbox-container input:checked[type="radio"] ~ .checkmark {
  background-color: #5ca6cf;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input[type="checkbox"]:checked ~ .checkmark:after {
  display: block;
  content: "\2714";
}
.checkbox-container input[type="radio"]:checked ~ .checkmark:after {
  display: block;
  content: "\2714";
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 3px;
    top: 3px;
    color: white;
    border-width: 0 2px 2px 0;
    width: 100%;
}


