/*!
 * Start Bootstrap - One Page Wonder v5.0.7 (https://startbootstrap.com/template-overviews/one-page-wonder)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-one-page-wonder/blob/master/LICENSE)
 */

  
 body {font-family: 'Montserrat', sans-serif;}
.font2{font-family: 'HoeflerText';}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 800!important
}

.btn-xl {
	text-transform: uppercase;
	padding: 1.5rem 3rem;
	font-size: .9rem;
	font-weight: 700;
	letter-spacing: .1rem
}

.bg-black {
	background-color: #000!important
}
.text-black{color: #000!important;font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;}
.bg-grey {
	background-color:#F2F2F2!important;color:#555
}

.rounded-pill {
	border-radius: 5rem
}
.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover {
    color: #999;
}
.navbar-custom {
    z-index: 4;
	padding-top: .8rem;
	padding-bottom: .8rem;
	background-color: rgba(255, 255, 255, 1)
}

.navbar-custom .navbar-brand {
	text-transform: uppercase;
	font-size: 1rem;
	letter-spacing: .1rem;
	font-weight: 700;font-family: Hoefler Text;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #999;
    width: 55px;
    height: 55px;
    border: 1px solid #999;
    white-space: initial;
    padding: 6px 4px;
}
.navbar-dark .navbar-nav .nav-link{color: #999 !important;}

.btn1 {
	text-transform: uppercase;
    background: linear-gradient(0deg, #5CA6CF, #5CA6CF), #FFFFFF;
    border-radius: 25px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 7px 20px;
    color: white !important;
    border:1px solid #FFFFFF;
}
.btn1:hover{background:#fff; border:1px solid #5CA6CF; color: #5CA6CF;}
.no-btn{
    text-transform: uppercase;
    background-color:#fff;
    border:1px solid #5CA6CF;
    color: #5CA6CF;
    border-radius: 25px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 7px 20px;}
    .no-btn:hover{background: linear-gradient(0deg, #5CA6CF, #5CA6CF), #FFFFFF;color: white;border:1px solid #5CA6CF;}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link,.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{color: #999;}
.navbar-toggler{ background-color: #5CA6CF;}
@media (min-width: 992px)
{
    .navbar-expand-lg .navbar-nav .nav-link{    padding-right: 3rem;
        padding-left: 3rem;}
    #navbarSupportedContent ul.navbar-nav.mr-auto {
        margin-left: 40px;
    }
}

header.masthead {
	position: relative;
	overflow: hidden;
	
	
}

header.masthead .masthead-content {
	z-index: 1;
	position: relative
}

header.masthead .masthead-content .masthead-heading {
	font-size: 4rem
}

header.masthead .masthead-content .masthead-subheading {
	font-size: 2rem
}


@media (min-width:992px) {

	header.masthead .masthead-content .masthead-heading {
		font-size: 6rem
	}
	header.masthead .masthead-content .masthead-subheading {
		font-size: 4rem
	}
}

.bg-primary {
	background-color: #ee0979!important
}

.btn-primary {
	background-color: #ee0979;
	border-color: #ee0979
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
	background-color: #bd0760!important;
	border-color: #bd0760!important
}

.btn-primary:focus {
	box-shadow: 0 0 0 .2rem rgba(238, 9, 121, .5)
}

.btn-secondary {
	background-color: #ff6a00;
	border-color: #ff6a00
}

.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:hover {
	background-color: #c50!important;
	border-color: #c50!important
}

.btn-secondary:focus {
	box-shadow: 0 0 0 .2rem rgba(255, 106, 0, .5)
}

#tabs .nav-pills .nav-link{background-color: #f2f2f2;font-size: 16px;line-height: 24px;color: #333;    margin: 0 10px;border-radius: 0;}
#tabs .nav-pills .nav-link.active, .nav-pills .show>.nav-link{color: #fff;background-color: #999999;}

#nav-tabContent{font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 16px;line-height: 20px; color: #453937;border-top: none !important}
#tabs .list-group-item{padding:1rem .75rem;font-family: Montserrat;font-style: normal; font-weight: normal;font-size: 16px;line-height: 20px;color: #5CA6CF !important;}
#tabs .list-group-item span{
    color: #333;
    float: right;
    font-weight: 600;
    text-align: end;
}
#nav-tabContent p.font2{color: #555;    border-bottom:1px solid #D4E0E3;line-height: 60px;margin-bottom: 0;}
.border1{border: 1px solid #333;}
.bb{border-bottom: 1px solid rgba(0,0,0,.125) !important;}

.navbar-dark .navbar-toggler[aria-expanded=true] span.navbar-toggler-icon{background-image: url('../img/cross.png');background-size: 50%;}
.iframe-container {    
    padding-bottom: 60%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.iframe-container iframe,
.iframe-container object,
.iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
footer{    padding-bottom: 1.6rem!important;padding-top: 1.6rem!important;}
footer p{color: #999;}
@media (min-width:768px)
{footer,.navbar-custom {
   
    padding-right: 45px;
    padding-left: 45px;
}}
@media (max-width:767px)
{
    #tabs .nav-pills .nav-link{margin-bottom: 1rem !important;}
    footer .col-lg-4 p {text-align: center !important;margin-bottom: 0.5rem !important;}
    #navbarResponsive ul.navbar-nav.mr-auto{margin-top:1rem}
    .form-inline.my-2.my-lg-0{display: block;text-align: center;}
    h4.font-weight-normal.m-0{font-size: 20px;}
    .form-inline.my-2.my-lg-0 a.no-btn.mr-3 {
        padding: 7px 10px;
    }
}