.footer {
	padding: 10px;
	text-align: center;
}
.news-letter {
	background: linear-gradient(0deg, #555555, #555555), #FFFFFF;
	height: 558px;
}
.home-pricing {
	background: linear-gradient(0deg, #999999, #999999), #FFFFFF;
	opacity: 0.9;
	height: 422px;

}
.child-pricing {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 50px;
	text-align: center;
	width: 100%;
	align-items: center; 
	justify-content: center;
	margin-top: 100px;
	color: #FFFFFF;
}
.home-model {
	height: 500px;
}

.home-model-bg {
	background: linear-gradient(0deg, #F2F2F2, #F2F2F2), #FFFFFF;
	opacity: 0.95;
}


.bg-img{
	padding: 0;
}

.bg-img img{
	height: 100%;
	width: 100%;
	background-size: cover;
}

.txt-center {
	text-align: center;
}

.perks {
	border-bottom: 1px solid;
	display: inline-block;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	/* identical to box height */

	letter-spacing: 0.5em;
	text-indent: 2px;

}

.perks-div {
	margin-top: 50px;
	margin-bottom: 50px;
	width: 100%;
}

.home-feature {
	min-height: 682px;
	width: 100%; 
	background: linear-gradient(0deg, #F2F2F2, #F2F2F2), #FFFFFF;  
	text-align: center;
}

.feature-txt {
	/*margin: 50px;*/
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
}	

.banner {
	background: url("../img/Banner.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	/*background-attachment: fixed;*/
	height: 720px;
	width: 100%;
}

.pricing-bg {
	background: url("../../imgs/second_floor.png");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	/*background-attachment: fixed;*/
	width: 100%;
}

.inner-banner {
	/*background: linear-gradient(0deg, #555555, #555555), #FFFFFF;*/
    opacity: 1;
    height: 100%;
}

.banner-text-div {
	color: #FFFFFF;
	text-align: center;
	padding-top: 300px;
	width: 94%;
}
.banner-text {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 64px;
	/* identical to box height */
	color: #FFFFFF;
}

.banner-text-child {
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	letter-spacing: 0.3em;

	color: #FFFFFF;
}

.home-p1 {
	width: 100%; 
	background: #FFFFFF; 
	border-left: 1px solid;
	margin-top: 40px;
	margin-bottom: 40px;
	padding-left: 15px;
}

.concept-text {
	font-family: Playfair Display;
	font-style: italic;
	font-weight: normal;
	font-size: 72px;
	line-height: 128px;
	text-align: right;
	text-transform: uppercase;
	color: #999999;
}

.card-img-top {
	width: 100%;
	min-height: 243px;
}

.card-body {
	width: 100%;
	min-height: 175px;
}

.card-title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	/* identical to box height */

	text-align: center;
	letter-spacing: 0.2em;
}

.card-text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
}

.leftpad {
	padding-left: 60px !important;
}

.home-table {
    margin: 0 auto; /* or margin: 0 auto 0 auto */
    margin-top: 100px;
}

.td-1 {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 32px;
	letter-spacing: 0.2em;
	margin-bottom: 0px !important;
	color: #5CA6CF;
}

.td-2 {
	font-size: 24px;
	border-bottom: 1px solid;
	line-height: 29px;
	letter-spacing: 0.2em;
	padding-bottom: 5px
}

.td-3 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
}

.td-4 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
}
.custom-btn-1 {
	background: transparent;
	color: #5CA6CF;
	border: 1px solid #5CA6CF;
	border-radius: 50px;
	width: 250px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.custom-btn-2 {
	background: transparent;
	border: 1px solid #FFFFFF !important;
	border-radius: 50px !important;
	width: 200px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 32px !important;
	color: #FFFFFF !important;
	font-family: Montserrat !important;
}

.icon-div {
	height: 100px;
    width: 100px;
    border-radius: 50px;
    border: 1px solid #FFFFFF;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}

.icon-env {
	font-size: 48px;
    padding-top: 25px;
    color: #FFFFFF;
}

.subsribe-us-txt {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 44px;
	text-align: center;
	letter-spacing: 0.1em;
	color: #FFFFFF;	
}

.sign-up-txt {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	/* identical to box height */
	text-align: center;
	color: #FFFFFF;	
}

.news-input {
	width: 50%;
	padding: 10px;
	background: #F2F2F2;
	border: none;
}

.subsribe-btn {
	font-family: Montserrat;
	text-transform: capitalize;
	padding: 10px;
	background: #5ca6cf;
	width: 150px;
	border-color: #5ca6cf;
    color: #FFFFFF;	
	border: none;
	margin-left: -7px;		
}

.color-g {
	color: #999999 !important;
}

.color-dg {
	color: #555555 !important;	
} 
.m-font {
	font-family: Montserrat;
}	
.sub-btn-parent {
    text-align: left;
    padding: 0 !important;
}
.sub-input-parent {
	text-align: center;
    padding: 0 !important;
}

/*Thanks Page starts*/
.space {
	min-height: 300px;
	background: #FFFFFF;
    padding-top: 100px;	
}

.explore-parent {
	min-height: 732px;
}

.thanku-p1 {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 48px;
	/* identical to box height */

	text-align: center;
}

.thanku-p2 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	/* identical to box height */

	text-align: center;
}

.black-btn ,.black-btn:hover {
	text-decoration: none;
    text-transform: uppercase;
    background-color: #fff;
    border: 1px solid #000000;
    color: #000000;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 7px 20px;
}
/*Thanks Page end*/

/*Media Queries*/

@media only screen and (max-width: 768px) {
	.concept-text {
		font-size: 40px;
		text-align: center;
		line-height: 40px;
	}

	.leftpad {
    	padding-left: 15px !important;
	}

	.home-feature {
		margin-right: 0px !important; 
        margin-left: 0px !important;
	}
	.home-model  {
		margin-right: 0px !important; 
        margin-left: 0px !important;
	}
	
	
	.p1-parent {
		width: 80% !important;
	}
	.home-feature {
		padding-bottom: 15px;
	}

	.sub-btn-parent {
	    text-align: center;
	    padding: 0 !important;
	}
	.sub-input-parent {
		text-align: center;
	    padding: 0 !important;
	}
	.card {
		margin-top: 15px;
	}
	.subsribe-us-txt {
		font-size: 26px !important;
	}

}

@media only screen and (max-width: 1000px) and (min-width: 768px) {
	.concept-text {
		font-size: 52px !important;
	}
}
@media only screen and (min-width: 768px) {
	header {
		/* position: fixed; */
		z-index: 5;
		width: 100% !important;
	}
	.top-header-fixed {
		z-index: 5;
	}
}
@media only screen and (max-width: 480px) and (min-width: 1px) {
	.hide-sm {
		display: none !important;
	}
	.subsribe-btn {
		margin-top: 15px;
		width: 120px;
	}
	.news-input {
		width: 70%;
	}
	.home-table {
		margin: 0 auto; /* or margin: 0 auto 0 auto */
		margin-top: 18px !important;
	}
	.home-model {
		height: 320px !important;
	}
}
@media only screen and (max-width: 3200px) and (min-width: 481px) {
	.hide-lg {
		display: none !important;
	}
	.navbar-custom {
		position: relative !important;
	}
}