<div class="md-3">
   <h4 class="text-muted ml-2">My Account</h4>
   <ul class="text-muted pl-2 side-nav" style="font-weight: 500">
       <li><a href="{% url 'my-orders' %}">My Order Histroy</a></li>
       <li><a href="{% url 'my-pref' %}">My Preferences</a></li>
       <li><a href="{% url 'user-profile' %}">Settings</a></li>
       <li><a href="/logout" >Logout</a></li>
   </ul>
</div>