{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="google-site-verification" content="LnQoPAVXbIP5uOPneg1Ct-Uwr-ZAnR7LU1ULgdDot_U" />

	{% if title %}
	<title class="text-capitalize">Shipping Container Home - Bolt on Bloks - {{ title }}</title>

	{% else %}
	<title>Shipping Container Home - Bolt on Bloks</title>
	{% endif %}

	<!-- font awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
		integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
	<!-- boostrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

{#	<link type="text/css" rel="stylesheet" href="{% static 'users/new_custom/vendor/bootstrap/css/bootstrap.min.css' %}" />#}
	<link type="text/css" rel="stylesheet" href="{% static 'users/custom/sign_up.css' %}" />
	<!-- custom css -->
	<link type="text/css" rel="stylesheet" href="{% static 'users/custom/custom.css' %}" />
   <link type="text/css" rel="stylesheet" href="{% static 'users/custom/sign_up.css' %}" />
	<!-- fonts -->
	<link type="text/css" rel="stylesheet" href="{% static 'users/fonts/stylesheet.css' %}" />
	<!-- Material Design Bootstrap -->
{#	<link href="{% static 'MBD/css/mdb.min.css' %}" rel="stylesheet">#}
   <style type="text/css">
      .registration_form_input{
          background-color: #f2f2f2;
      }
      .registration_form_input nav {
         border: none;
      }
      .create_acct_h1{
         color: #000;
      }
      .registration_form_input .navbar-custom .navbar-brand{
         color: #555555;
      }
      .md-padding .row{
         border-radius: 20px;
      }
      .checkbox-container ul li label{
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 16px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      .checkmark {
        position: absolute;
        top: 3px;
        left: -3px;
        height: 22px;
        width: 22px;
        background-color: #f0f0f0;
         border: 1px solid;
        border-radius: 4px;
      }

      /*/* Hide the browser's default checkbox */*/
      .checkbox-container ul li label input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      /* Style the checkmark/indicator */
      .checkbox-container .checkmark:after {
          top:1px;
      }
      /* On mouse-over, add a grey background color */
      .checkbox-container ul li:hover input ~ .checkmark {
         background-color: #ccc;
         mso-border-shadow: yes;
         border: 2px solid;
      }
      .align_li li{
         display: inline-flex;
         width: 150px !important;
         margin: 0px 50px 0px 62px;
      }
      .align_li li label{
         margin: 0;
         margin-top: 2px;
      }
   </style>

</head>

<body class="sign_up_font registration_form_input">

 <div id="overlay"></div>
 {% if request.user.is_authenticated %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 col-sm-12 add-bar">
				<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner quicksand-font">
						  <div class="carousel-item active">
								<p class="top-add">Coming soon at 12345 Beach Blvd. <a href="#id_subscribe">Sign Up</a> now for more details. </p>
						  </div>
						  <div class="carousel-item">
								<p class="top-add">California passed ADU reform to expand housing choices and ease the statewide home shortages. <a target="_blank" href="https://www.sightline.org/2019/04/05/la-adu-story-how-a-state-law-sent-granny-flats-off-the-charts/">Read more.</a></p>
						  </div>
					</div>
						<a id="add-bar-control-prev" class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
						  <span id="#add-bar-control-prev-icon" class="carousel-control-prev-icon" aria-hidden="true"></span>
						  <span class="sr-only">Previous</span>
						</a>
						<a id="add-bar-control-next" class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
						  <span id="#add-bar-control-next-icon" class="carousel-control-next-icon" aria-hidden="true"></span>
						  <span class="sr-only">Next</span>
						</a>
				</div>
			</div>
		</div>
	</div>

   <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">BOLT ON BLOKS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'models' %}">MODELS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ABOUT US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact-us' %}">CONTACT</a>
          </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
           {% if not request.user.is_authenticated %}
               <a class="no-btn mr-3" href="/register">LOGIN</a>
           {% endif %}
            <a class="btn1" href="{% url 'order-form' %}">PLACE AN ORDER</a>
           {% if request.user.is_authenticated %}
               <a class="no-btn ml-3" href="/logout">Log Out</a>
           {% endif %}
        </div>
      </div>
    </div>
    </nav>
   {% else %}
      <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
         <div class="container-fluid">
            <a class="navbar-brand" href="#">BOLT ON BLOKS</a>
            <a class="pull-right" href="/">Go back Home</a>
         </div>
      </nav>
   {% endif %}
	<div class="container text-center">
		<div class="col-md-12">
			{% if messages %}
				{% for message in messages %}
					{% ifchanged message %}
						<div class="text-center alert {% if 'error' in message.tags %} alert-danger {% else %} alert-{{ message.tags }} {% endif %}">
							{{ message }}
						</div>
					{% endifchanged %}
				{% endfor %}
			{% endif %}
		</div>
	</div>

	<!-- Error messaging -->
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-sm-12 m-auto p-auto">
				{% if form.errors %}
				<div id="errors" class="mt-2 text-center" >
					<div class="inner font-weight-bold" style="background-color: #d9534f; padding: 10px; border-radius:20px; color:white">
						<p>There were some errors in the information you entered. Please correct the following:</p>
						{{ form.non_field_errors }}
						<ul class="text-capitalize">
							{% for field in form %}
							{% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
							{% endfor %}
						</ul>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="md-padding">
		<div class="container">
          <div class="row">
         <div style="background-color: #555555" class="loading_bar progress pr-1">
           <div class="pl-1" style="width:35%">
             Create Account
           </div>
           <div class="text-center" style="width:35%">
             Personal Information
           </div>
           <div class="" style="width:30%">
             <span class="fa-pull-right">User Preferences</span>
           </div>
         </div>
              <div class="col-md-12 col-sm-12 bg-white  m-auto p-4 " style="border-radius: 20px">
                  {% for errors in form.non_field.errors %}
                     <p style="font-size:14px " class="help text-danger ml-5">{{error}}</p>
                  {% endfor%}
                  <form method="POST" class="checkbox-containers custom_input" >
                      <p class="text-center"><span class="text-muted">Step {{wizard.steps.step1}} of {{wizard.steps.count}}</span></p>
                      <hr class="ml-4">
                      {{ wizard.management_form }}
                      {% csrf_token %}
                      {% for field in wizard.form %}
                      {% if field == form.learn_about_electric_drive %}
                      <div id="div_id_{{field.name}}" class="ml-4 radio_ul checkbox-container" style="display: block;">
                          <label class="label" style="margin-left: -10px;" for="{{field.id_for_label}}">{{field.label}}</label>
                          {{field}}
                      </div>

                      {% elif field == form.type_of_electric_vehicle_function or field == form.type_of_smart_home or field == form.type_of_development%}
                      <div id="div_id_{{field.name}}" class="ml-4 check_ul checkbox-container" style="display: block;">
                          <label style="margin-left: -10px;" for="{{field.id_for_label}}" class="label" data-error="wrong"
                              data-success="right">{{field.label}}
                          </label>
                          {{field}}
                      </div>

                      {% else %}
                      <div id="div_{{field.id_for_label}}" class="md-form checkbox-container">
                          <i class="prefix"> </i>
                          <label  for="{{field.id_for_label}}" class="label" data-error="wrong"
                              data-success="right">{{field.label}}
                          </label><br>
                          {{field}}
                          {% for error in field.errors %}
                          <p style="font-size:14px" class="help text-danger ml-5">{{error}}</p>
                          {% endfor %}
                      </div>
                      {% endif %}
                      {% endfor %}
                  <div class="text-center">
                       {% include "users/formwizard_btns.html" %}
                  </div>
                  </form>
              </div>
          </div>
      </div>
   </div>


{#	<script type="text/javascript" src="{% static 'users/js/jquery-3.4.1.min.js' %}"></script>#}
	<script type="text/javascript" src="{% static 'users/new_custom/vendor/jquery/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'users/new_custom/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'users/dist/jquery.inputmask.js' %}"></script>
	<script type="text/javascript" src="{% static 'MBD/js/popper.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'users/custom/custom_jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'users/custom/flipdown.js' %}"></script>
	<script type="text/javascript" src="{% static 'MBD/js/mdb.min.js' %}"></script>
<script type="text/javascript">
   chk='<span class="checkmark"></span>'
   $(chk).appendTo('ul li label')
   $('#div_id_2-other_type_of_development').removeClass('checkbox-container')
   $('#div_id_type_of_development').addClass('align_li')
</script>
</body>

</html>
