{% load static %}
{% autoescape on %}

<table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width:800px;margin-top: 60px;">
	<tbody>
		<tr>
			<td align="center" width="100%">
				<table align="center" width="800" border="0" bgcolor="#F2F2F2" cellpadding="0" cellspacing="0">
					<tbody>
						<tr
							style='    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";'>
							<td style="padding-left: 60px;padding-right: 60px;text-align: justify;">
								<br />
								<table>
									<tbody>
										<tr>
											<td><img src="http://{{ domain }}{% static 'users/imgs/arc_logo.png' %}"
													width="120" height="90" border="0"></td>
											<td style="padding-left: 60px;""><h1 class=" col text-center c-header"
												style="text-align: center !important;font-weight: 700;">Access
												Request</h1>
											</td>
										</tr>
									</tbody>
								</table>

								<br />
								<span>
									Hi <b>Admin</a></b>,
								</span>

								<br /><br />

								<span>
									It is a pleasure to inform you that <b>{{ user.first_name|title }} {{user.last_name|title}}</b> submit a
									request.
								</span>
							</td>
						</tr>
<table style='text-align:left; padding: 0 60px 0 60px'>
	<br>
		<tr><th colspan="3" style="text-align: center; font-size: 16px;">User INFO.</th>
		</tr><br>
		
		<tr><th>User Type:</th>
			<td colspan="2"></td>
			<td>{{user.user_type|title}}</td>
		</tr>
		{% if user.company_name %}
		<tr><th>Company Name:</th>
			<td colspan="2"></td>
			<td>{{user.company_name|title}}</td>
		</tr>
		{% endif %}
		{% if user.title%}
		<tr><th>Title:</th>
			<td colspan="2"></td>
			<td>{{user.title|title}}</td>
		</tr>
		{% endif%}
		<tr><th>Email:</th>
			<td colspan="2"></td>
			<td>{{user.email}}</td>
		</tr>
		<tr><th>Phone no.:</th>
			<td colspan="2"></td>
			<td>{{user.phone_number}}</td>
		</tr>
</table>
	
						<tr
							style='font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";'>
							<td style="padding-left: 60px;padding-right: 60px;text-align: justify;">
								<br />
								<span>
									<b>To see details</b> of his/her Request, Please <a
										href="http://{{ domain }}{% url 'activate' uidb64=uid req_for=req_for token=token %}"
										target="_blank">Click here</a>.
								</span>
								<br /><br />
								<span>
									If Link does not work then open this Url in your browser.<br>
									http://{{ domain }}{% url 'activate' uidb64=uid req_for=req_for token=token %}
								</span>
								<br /><br />
								<span>
									Thanks,<br /> <b>Team BoltonBloks</b>
								</span>
								<br /> <br /> <br />
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>


{% endautoescape %}