{% extends "users/base.html" %}
{% block content%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form method="POST">
            {% if 'content' in req_for %}
                <h1 class="mb-4 text-center text-info"> Access Requested for Special Content</h1>
            {% elif 'home' in req_for %}
                <h1 class="mb-4 text-center text-info"> Access Requested for Home View Content</h1>
          
            {% endif %}
                <table style="font-size: 20px !important;" class="text-capitalize view_order_table table table-borderless table-responsive">
                <legend class="text-center"><b>User Info</b> </legend>
                    <!-- <thead class=""> -->
                    <th>User Type</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email Address</th>
                    {% if user.company_name %}
                        <th>Comapny Name</th>
                    {% endif%}

                    {% if user.title %}
                        <th>Title</th>
                    {% endif%}

                    <th>Phone number</th>
                    <!-- </thead> -->
                    <tr>
                        <td>{{user.user_type}}</td>
                        <td>{{user.first_name}}</td>
                        <td>{{user.last_name}}</td>
                        <td style="text-transform: none !important" >{{user.email}}</td>

                        {% if user.company_name%}
                            <td>{{user.company_name}}</td>
                        {% endif%}

                        {% if user.title %}
                            <td>{{user.title}}</td>
                        {% endif%}
                        
                        <td>{{user.phone_number}}</td>
                    </tr>
                </table>
                <h2></h2>
                <h2></h2>

                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12 col-sm-12 admin_check_radio_ul">
                            
                        <ul style="list-style: none; ">
                            <div class="col-md-5 col-sm-11" style="margin-right:50px">
                                <li>
                                    <input type="radio" id="s-option" value='False' name="selector">
                                    <label for="s-option">Reject</label>
                                    
                                    <div class="check"><div class="inside"></div></div>
                                </li>  
                            </div>  
                            <div id="admin_accepted_div" class="col-md-5 col-sm-11">
                                <li>
                                    <input type="radio" id="f-option" value="True" name="selector" >
                                    <label for="f-option">Accept</label>     
                                    <div class="check"></div>
                                </li>
                            </div> 
                        </ul>
                    </div>
                </div>
                <div class="row" style="min-height: 20vh;">
                    <div id="access_time_div" class="col-md-6 col-sm-6 md-form">
                        <i class="fas fa-stopwatch prefix"></i>
                        <label class="label" data-error="wrong" data-success="right">&nbsp;&nbsp;&nbsp;  Access Time <span class="text-muted">(In hours)</span></label>
                        
                        <input id="time_access_input" class="form-control" type="number" min="1" max="100" name="time" required>
                    </div>
                </div>
                <button class="btn-black btn fa-pull-right" type="submit">Submit</button>

            </form>
        </div>
    </div>
</div>
{% endblock%}