{% extends 'users/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container content-4" >
    <div class="row">
        <div class="col-md-4 col-sm-4" >
            <h3 class="font_3" style="font-size:63px;">
                <span style="font-size:63px;">Perks</span>
            </h3>
        </div>
        <div class="col-md-4 col-sm-4" >
            <ul class="font_8 perks">
                <li>Elevator</li>
                <li>Dumb waiter</li>
                <li>Spiral staircase</li>
                <li>Balconies</li>
                <li>Roof terrace</li>
            </ul>
        </div>
        <div class="col-md-4 col-sm-4">
                <ul class="font_8 perks">
                    <li>Smart home technology</li>
                    <li>Electric car included</li>
                    <li>Solar panel electric power</li>
                    <li>LEED certified environmental design</li>
                    <li>Recycled gray water system*</li>
                    <li class="fa-pull-right">*For certain units</li>
                </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="c-banner">
                <img style="max-height: 50vh; width: 100%;" class="img-fluid"  alt="View-16.jpg" data-type="image" itemprop="image" src="{% static 'users/imgs/view-2.jpeg' %}">   
            </div>
        </div>
        <div class="col-md-6 fa-pull-right">
            <div class="c-banner">
                <img style="max-height: 50vh; width: 100%;" class="img-fluid" src="{% static 'users/imgs/exterior-2nd-floor.jpg' %}" alt="First slide">
            </div>
        </div> 
    </div>
</div>

{% endblock %}