{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="google-site-verification" content="LnQoPAVXbIP5uOPneg1Ct-Uwr-ZAnR7LU1ULgdDot_U" />

	{% if title %}
	<title class="text-capitalize">Shipping Container Home - Bolt on Bloks - {{ title }}</title>
	{% else %}
	<title>Shipping Container Home - Bolt on Bloks</title>
	{% endif %}

	<!-- font awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
		integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

   <link rel="stylesheet"
   href="https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display|Raleway|Quicksand">
   <!-- boostrap -->
	<link type="text/css" rel="stylesheet" href="{% static 'users/new_custom/vendor/bootstrap/css/bootstrap.min.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'users/new_custom/css/slick.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'users/new_custom/css/slick-theme.css' %}" />

	<!-- custom css -->
	<link type="text/css" rel="stylesheet" href="{% static 'users/custom/custom.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'users/new_custom/css/custom.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'users/new_custom/css/style.css' %}" />
	<!-- fonts -->
	<link type="text/css" rel="stylesheet" href="{% static 'users/fonts/stylesheet.css' %}" />
	<!-- Material Design Bootstrap -->
   {% block custom_css %}
   {% endblock %}
	<link href="{% static 'MBD/css/mdb.min.css' %}" rel="stylesheet">
</head>

<body>
 <div id="overlay"></div> 
 <header id="nav-header">
	 <!-- Top Slider -->
	<div class="container-fluid bg-dark top-header-fixed">
		<div class="row">
			<div class="col-md-12 col-sm-12 add-bar">
				<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner quicksand-font">
						  <div class="carousel-item active">
								<p class="top-add">Coming soon at 12345 Beach Blvd. <a href="#id_subscribe">Sign Up</a> now for more details. </p>
						  </div>
						  <div class="carousel-item">
								<p class="top-add">California passed ADU reform to expand housing choices and ease the statewide home shortages. <a target="_blank" href="https://www.sightline.org/2019/04/05/la-adu-story-how-a-state-law-sent-granny-flats-off-the-charts/">Read more.</a></p>
						  </div>
					</div>
						<a id="add-bar-control-prev" class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
						  <span id="#add-bar-control-prev-icon" class="carousel-control-prev-icon" aria-hidden="true"></span>
						  <span class="sr-only">Previous</span>
						</a>
						<a id="add-bar-control-next" class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
						  <span id="#add-bar-control-next-icon" class="carousel-control-next-icon" aria-hidden="true"></span>
						  <span class="sr-only">Next</span>
						</a>
				</div>
			</div>
		</div>
	</div>

 <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">BOLT ON BLOKS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul id="nav-bar" class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">HOME</a>
          </li>

			<li class="nav-item dropdown" >
				<a class="nav-link dropdown-toggle models" id="navbarDropdownMenuLink"
				   data-toggle="dropdown"
				   aria-haspopup="true" aria-expanded="false">MODELS</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" href="{% url 'models-info' name='1S-2W' %}">1 Story 2 Wide</a>
					<a class="dropdown-item" href="{% url 'models-info' name='2S-3W' %}">2 Story 3 Wide</a>
					<a class="dropdown-item" href="{% url 'models-info' name='3S-2W' %}">3 Story 2 Wide</a>
				</div>
			</li>
          <li class="nav-item">
            <a class="nav-link" href="#">ABOUT US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact-us' %}">CONTACT</a>
          </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
           {% if not request.user.is_authenticated %}
               <a class="no-btn mr-3" href="/register">LOGIN</a>
           {% endif %}
            <a class="no-btn btn-info" href="{% url 'order-form' %}">PLACE AN ORDER</a>
           {% if request.user.is_authenticated %}
               <a class="no-btn ml-3" href="{% url 'user-profile' %}">
                  {% if request.user.first_name %}
                     {{ request.user.first_name }}'s
                  {% elif request.user.last_name %}
                     {{ request.user.last_name }}'s
                  {% endif %}
                  Account</a>
           {% endif %}
        </div>
      </div>
    </nav>
    </div>
  </nav>
</header>
{% if messages %}
	<div class="container text-center">
		<div class="col-md-12">
			{% for message in messages %}
				{% ifchanged message %}
					<div class="text-center alert {% if 'error' in message.tags %} alert-danger {% else %} alert-{{ message.tags }} {% endif %}">
						{{ message }}
					</div>
				{% endifchanged %}
			{% endfor %}
		</div>
	</div>
{% endif %}

	<!-- Error messaging -->
{% if form.errors %}
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-sm-12 m-auto p-auto">	
				<div id="errors" class="mt-2 text-center" >
					<div class="inner font-weight-bold" style="background-color: #d9534f; padding: 10px; border-radius:20px; color:white">
						<p>There were some errors in the information you entered. Please correct the following:</p>
						{{ form.non_field_errors }}
						<ul class="text-capitalize">
							{% for field in form %}
							{% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
							{% endfor %}
						</ul>
					</div>
				</div>	
			</div>
		</div>
	</div>
{% endif %}
	<div class="md-padding">
		{% block  content %}
		{% endblock %}
	</div>
	<!-- homepage -->
	{% block  homepage %}
	{% endblock %}

	<!-- jquery -->
   <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
         <form  class="no-margin" method="POST" action="{% url 'home' %}">
            {%csrf_token%}
            <div class="row news-letter txt-center">
            <div class="icon-div">
              <i class="far fa-envelope icon-env"></i>
            </div>
            <div class="col-md-12">
              <p class="subsribe-us-txt">SUBSCRIBE TO OUR NEWSLETTER</p>
              <p class="sign-up-txt">Sign up with your email address to receive news and updates.</p>
            </div>
            <div class="col-md-12 sub-input-parent">
			   {{subscribe_form.email}}
			   <button class="subsribe-btn">SUBSCRIBE</button>
            </div>
            <!-- <div class="col-md-4 sub-btn-parent">
              <button class="subsribe-btn">SUBSCRIBE</button>
            </div> -->
            </div>
         </form>
        </div>
      </div>
   </div>
   <footer>
      <div class="container-fluid">
         <div class="row">
             <div class="col-lg-4 col-md-4"><p class="m-0 text-left small">&copy; Bolt on Bloks. All rights reserved
				 .</p></div>
             <div class="col-lg-4 col-md-4"><p class="m-0 text-center small">12345 Beach Blvd., Stanton, CA 90680 USA</p></div>
             <div class="col-lg-4 col-md-4"><p class="m-0 text-right small">PATENT PENDING USTPO PATENT PENDING.</p></div>
         </div>
      </div>
   </footer>
	
{#	<script type="text/javascript" src="{% static 'users/js/jquery-3.4.1.min.js' %}"></script>#}
	<script type="text/javascript" src="{% static 'users/new_custom/vendor/jquery/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'users/new_custom/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'users/new_custom/vendor/slick/slick.js' %}"></script>

	<script type="text/javascript" src="{% static 'users/dist/jquery.inputmask.js' %}"></script>
	<script type="text/javascript" src="{% static 'MBD/js/popper.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'users/custom/custom_jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'users/custom/flipdown.js' %}"></script>
{#	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"#}
{#		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"#}
{#		crossorigin="anonymous"></script>#}

	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="{% static 'MBD/js/mdb.min.js' %}"></script>

	{% block  js %}
	{% endblock %}
</body>

</html>