{% extends 'users/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block homepage %}
    <div class="container-fluid banner">
      <div class="inner-banner">
    <div class="overlay">
        <div class="banner-text-div">
          <p class="banner-text">The Next Generation of Housing</p>
          <p class="banner-text-child">CONTEMPORARY LIVING DEFINED</p>
        </div>
    </div>
      </div>
    </div>

    <div class="container  p1-parent">
      <div class="row justify-content-md-center">
        <div class="col-md-8 col-sm-12 home-p1 color-dg m-font">
          <p>Welcome to Bolt on Bloks, our homes are designed to be flexible for generations to come. We think sustainabilty, functionality, and durability. Come experiance our homes today.</p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <p class="concept-text">OUR CONCEPT</p>
        </div>

        <div class="col-sm-12 col-md-8 leftpad color-dg m-font">
          <p>These are the main three guiding characteristics behind the design of your home.</p>

          <p>Live well - Our build quality is second to none. Unlike other shipping container-based housing construction, our houses are aesthetically pleasing both inside and out and configured to maximize residential comfort and daily function.</p>

          <p>Easy to repair- The modular design aspect of our units make them easy to repair and highly suited for use as an income-producing rental property. A damaged interior wall panel or ceiling panel can be removed and replaced within an hour.</p>

          <p>Migration-ready - One of the recurring frustrations in modern day living is the necessity of relocating, whether due to changing circumstances relating to employment, family, or for potentially millions ;of Americans in the not too distant future, environmental displacement. Our housing units are designed to be assembled bolt-on (patent pending) with a relatively low level of technical specialization and have been engineered for upgradable use in a wide spectrum of environmental conditions.</p>
        </div>
      </div>
    </div>

    <div class="container-fluid mt-5 home-feature">
      <div class="txt-center feature-txt">
        <span class="perks m-font">Features</span>
      </div>

      <div class="row color-dg">
        <div class="col-sm-10 col-md-3 change_class mt-2 mb-2">
          <div class="card">
            <img class="card-img-top" src="{% static 'users/new_custom/img/Living-Area-FINAL.jpg' %}" alt="Card image cap" >
            <div class="card-body">
              <h5 class="card-title color-dg">FULLY CUSTOMIZED</h5>
              <p class="card-text color-dg">Our units are customizable to meet all your needs.</p>
            </div>
          </div>
        </div>

        <div class="col-sm-10 col-md-3 change_class mt-2 mb-2">
          <div class="card">
            <img class="card-img-top" src="{% static 'users/new_custom/img/Bedroom-FINAL.jpg' %}" alt="Card image cap" >
            <div class="card-body">
              <h5 class="card-title color-dg">SUSTAINABLE</h5>
              <p class="card-text color-dg">Low-impact home design built to last for generations.</p>
            </div>
          </div>
        </div>

        <div class="col-sm-10 col-md-3 change_class mt-2 mb-2">
          <div class="card">
            <img class="card-img-top" src="{% static 'users/new_custom/img/Kitchen-FINAL.jpg' %}" alt="Card image cap" >
            <div class="card-body">
              <h5 class="card-title color-dg">TURNKEY HOME</h5>
              <p class="card-text color-dg">Including all power and plumbing infrastructure, interior decor.</p>
            </div>
          </div>
        </div>

        <div class="col-sm-10 col-md-3 change_class mt-2 mb-2">
          <div class="card">
            <img class="card-img-top" src="{% static 'users/imgs/1S2W-front.jpg' %}" alt="Card image cap" >
            <div class="card-body">
              <h5 class="card-title color-dg">VERSATILE DESIGN</h5>
              <p class="card-text color-dg">Designed for wherever you choose to place your home.</p>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="container perk-parent">
      <div class="row color-dg">
        <div class="col-md-12">
          <div class="row mb-5 color-dg m-font">
            <div class="perks-div  txt-center">
              <span class=" perks">PERKS</span>
            </div>

            <div class="col-md-4">
              <ul>
                <li>Elevator</li>
                <li>Dumb waiter</li>
                <li>Spiral staircase</li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul>
                <li>Balconies</li>
                <li>Roof terrace</li>
                <li>Smart home technology</li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul>
                <li>Solar panel electric power</li>
                <li>LEED certified environmental design</li>
                <li>Recycled gray water system</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 home-model bg-img">
           <img class="img-fluid" src="{% static 'users/imgs/2-story-front-view.jpg' %}">
        </div>
        <div class="col-md-6 home-model home-model-bg">
          <table  class="home-table">
            <tbody>
              <tr>
                <td>
                  <p class="td-1">MODEL</p>
                </td>
                <td width="50"></td>
              </tr>

              <tr>
                <td height="70">
                  <span class="td-2">3 Story 2 Wide</span>
                </td>
                <td></td>
              </tr>

              <tr>
                <td height="30">
                  <p class="td-3">4 Bed 4 Bath - 1,900 sq.ft</p>
                </td>
                <td></td>
              </tr>

              <tr>
                <td colspan="2" height="30">
                  <p class="td-4">Price starting 329,000 USD</p>
                </td>
              </tr>

              <tr>
                <td colspan="2" height="100">
                  <div class="txt-center">
                    <a href="{% url 'models-info' name='3S-2W' %}"><button class="custom-btn-1">VIEW
                       DETAILS</button></a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col-md-6 home-model bg-img hide-lg">
          <img class="img-fluid" src="{% static 'users/imgs/1S2W-angle.jpg' %}">
       </div>
        <div class="col-md-6 home-model home-model-bg">
          <table  class="home-table">
            <tbody>
              <tr>
                <td>
                  <p class="td-1">MODEL</p>
                </td>
                <td width="50"></td>
              </tr>

              <tr>
                <td height="70">
                  <span class="td-2">1 Story 2 Wide</span>
                </td>
                <td></td>
              </tr>

              <tr>
                <td height="30">
                  <p class="td-3">2 Bed 2 Bath - 633 sq.ft</p>
                </td>
                <td></td>
              </tr>

              <tr>
                <td colspan="2" height="30">
                  <p class="td-4">Price starting 103,000 USD</p>
                </td>
              </tr>

              <tr>
                <td colspan="2" height="100">
                  <div class="txt-center">
                    <a href="{% url 'models-info' name='1S-2W' %}"><button class="custom-btn-1">VIEW
                       DETAILS</button></a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6 home-model bg-img hide-sm">
           <img class="img-fluid" src="{% static 'users/imgs/1S2W-angle.jpg' %}">
        </div>

        <div class="col-md-6 home-model bg-img">
           <img class="img-fluid" src="{% static 'users/imgs/2S3W/exterior-2st3w-front.jpg' %}">
        </div>
        <div class="col-md-6 home-model home-model-bg">
          <table  class="home-table">
            <tbody>
              <tr>
                <td>
                  <p class="td-1">MODEL</p>
                </td>
                <td width="50"></td>
              </tr>

              <tr>
                <td height="70">
                  <span class="td-2">2 Story 3 Wide</span>
                </td>
                <td></td>
              </tr>

              <tr>
                <td height="30">
                  <p class="td-3">4 Bed 3 Bath - 1,920 sq.ft</p>
                </td>
                <td></td>
              </tr>

              <tr>
                <td colspan="2" height="30">
                  <p class="td-4">Price starting 310,000 USD</p>
                </td>
              </tr>

              <tr>
                <td colspan="2" height="100">
                  <div class="txt-center">
                    <a href="{% url 'models-info' name='2S-3W' %}"><button class="custom-btn-1">VIEW
                       DETAILS</button></a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-12 pricing-bg">
            <div class="row home-pricing">
               <div class="txt-center child-pricing">
                  <p>Price Starting at</p>
                  <p>$103,000</p>
                  <a href="{% url 'my-orders' %}"><button class="btn custom-btn-2">PLACE AN ORDER</button></a>
               </div>
            </div>
         </div>
      </div>
   </div>
{% endblock %}
