{% extends 'users/base.html' %}
{% load static %}

{% block content %}
<section>
   <div class="container">
       <div class="row">
           <div class="col-lg-12 text-center">
               <div class="bg-grey py-5">
                 <h2 class="font2 font-weight-normal mb-3">{{ model_data.model_header }}</h2>
                 <h4 class="font-weight-normal m-0">{{ model_data.model_dimension }}</h4>
               </div>
           </div>
       </div>
   </div>
</section>
<header class="masthead text-center text-white">
 <div class="masthead-content">
   <div class="container">
     <div class="row">
         <div class="col-lg-12">
             <div class="slider slider-for">
                {% for img in imgs %}
                 <div>
                     <img alt="" src="{{ img.path }}">
                 </div>
                {% endfor %}
                 {% for img in imgs %}
                 <div>
                     <img alt="" src="{{ img.path }}">
                 </div>
                {% endfor %}
             </div>
             <div class="slider slider-nav">
                 {% for img in imgs %}
                 <div>
                     <img alt="" src="{{ img.path }}">
                 </div>
                {% endfor %}
                 {% for img in imgs %}
                 <div>
                     <img alt="" src="{{ img.path }}">
                 </div>
                {% endfor %}
             </div>
         </div>
     </div>
     <!--/main slider carousel-->
 </div>
 </div>
</header>

<section id="tabs" class="project-tab mt-3">
 <div class="container">
     <div class="row">
         <div class="col-md-12">
              <div class="p-3 border1">
                 <nav>
                     <div class="nav nav-tab nav-pills nav-fill" id="nav-tab" role="tablist">
                         <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">OVERVIEW</a>
                         <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">FLOORPLANS</a>
                         <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">3D WALKTHROUGH</a>
                     </div>
                 </nav>
                 <div class="tab-content mt-3 p-2 no-t-border" id="nav-tabContent">
                     <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <p>{{ model_data.model_text }}</p>
                        <div class="row">
                               <div class="col-12"><p class="font2">Basics</p></div>
                               <div class="col-md-6">
                                 <ul class="list-group list-group-flush pl-0">
                                     <li class="list-group-item">Beds <span>{{ model_data.beds }}</span></li>
                                     <li class="list-group-item">Bath <span>{{ model_data.baths }}<br/><br/></span></li>
                                     <li class="list-group-item">Sq.Ft. <span>{{ model_data.sq_ft }}</span></li>
                                     <li class="list-group-item bb">Parking Space <span
                                     >{{ model_data.parking_spaces }}<br/><br/></span></li>
{#                                     <li class="list-group-item bb">Lot Size <span>3,500 Sq.Ft.</span></li>#}
                                   </ul>
                               </div>
                               <div class="col-md-6">
                                 <ul class="list-group list-group-flush pl-0">
                                     <li class="list-group-item">Price <span>{{ model_data.price }}</span></li>
                                     <li class="list-group-item">Amenities <span>
                                        {{ model_data.amenities|safe }}</span></li>
                                     <li class="list-group-item">Floor<span>{{ model_data.floor }}</span></li>
                                     <li class="list-group-item bb">Garage<span>{{ model_data.garage|safe }}</span></li>
{#                                     <li class="list-group-item bb">Lot Size<span>3,500 Sq.Ft.</span></li>#}
                                   </ul>
                               </div>
                          </div>
                          <div class="row">
                             <div class="col-12"><p class="font2">Interior</p></div>
                             <div class="col-md-6">
                               <ul class="list-group list-group-flush pl-0">
                                   <li class="list-group-item"># of Kitchen <span>{{ model_data.no_of_kitchen }}</span></li>
                                   <li class="list-group-item">Kitchen <span>{{ model_data.kitchen|safe }}</span></li>
                                   <li class="list-group-item bb">Bathroom <span>{{ model_data.bathroom }}<br/><br/></span></li>
{#                                   <li class="list-group-item bb">Lot Size <span>3,500 Sq.Ft.</span></li>#}
                                 </ul>
                             </div>
                             <div class="col-md-6">
                               <ul class="list-group list-group-flush pl-0">
                                   <li class="list-group-item">Fireplace<span>{{ model_data.fireplace }}</span></li>
                                   <li class="list-group-item">Laundry <span>{{ model_data.laundry }}<br/><br/></span></li>
                                   <li class="list-group-item bb">Interior Features<span>
                                      {{ model_data.interior_features|safe }}</span></li>
{#                                   <li class="list-group-item bb">Lot Size<span>3,500 Sq.Ft.</span></li>#}
                                 </ul>
                             </div>
                        </div>
                        <div class="row">
                             <div class="col-12"><p class="font2">Exterior</p></div>
                             <div class="col-md-6">
                             <ul class="list-group list-group-flush pl-0">
                                 <li class="list-group-item">Frame Material
                                    <span>{{ model_data.frame_material }}</span></li>
{#                                 <li class="list-group-item bb">Lot Size <span>3,500 Sq.Ft.</span></li>#}
                                 </ul>
                             </div>
                             <div class="col-md-6">
                                 <ul class="list-group list-group-flush pl-0">
                                    <li class="list-group-item">Construction Material <span>
                                       {{ model_data.construction_material|safe }}</span></li>
                                 </ul>
                             </div>
                     </div>
                     </div>

                    <!-- floor plans -->

                     <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                          <div class="row">
                              <div class="col-lg-6 text-center mb-4">
                                 <a href="#" class="text-black" data-toggle="modal" data-target="#myModal"><img
                                    alt="garage" src="{% static 'users/imgs/garage.png' %}" class="img-fluid">
                                  <br><br>Garage</a>
                                <!-- Modal -->
                                  <div id="myModal" class="modal fade" role="dialog">
                                      <div class="modal-dialog modal-lg">
                                          <!-- Modal content-->
                                          <div class="modal-content">
                                              <div class="modal-body"><button type="button" class="close" data-dismiss="modal">&times;</button>
                                                   <object data="{% static 'users/files/floor_plans/garage.pdf' %}"
                                                           type="application/pdf" width="100%" height="800px"></object>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-lg-6 text-center mb-4">
                                  <a href="#" class="text-black" data-toggle="modal" data-target="#myModal1">
                                      <img alt="first_floor" src="{% static 'users/imgs/first_floor.png' %}" class="img-fluid">
                                      <br><br>First Floor
                                  </a>
                                  <!-- Modal -->
                                    <div id="myModal1" class="modal fade" role="dialog">
                                        <div class="modal-dialog modal-lg">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-body"><button type="button" class="close" data-dismiss="modal">&times;</button>
                                                   <object data="{% static 'users/files/floor_plans/first_floor.pdf' %}"
                                                           type="application/pdf" width="100%" height="800px"></object>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                              </div>
                          </div>
                          <div class="row">
                             <div class="col-lg-6 text-center mb-4">
                                 <a href="#" class="text-black" data-toggle="modal" data-target="#myModal2"><img
                                       alt="second_floor" src="{% static 'users/imgs/second_floor.png' %}" class="img-fluid">
                                     <br><br>Second Floor</a>
                                   <!-- Modal -->
                                     <div id="myModal2" class="modal fade" role="dialog">
                                         <div class="modal-dialog modal-lg">
                                             <!-- Modal content-->
                                             <div class="modal-content">
                                                 <div class="modal-body"><button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <object data="{% static 'users/files/floor_plans/second_floor.pdf' %}"
                                                              type="application/pdf" width="100%" height="800px"></object>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="col-lg-6 text-center mb-4">

                                     <a href="/static/users/files/floor_plans.pdf" class="text-black"
                                        data-toggle="modal" data-target="#myModal3">
                                         <img alt="third_floor" src="{% static 'users/imgs/third_floor.png' %}" class="img-fluid">

                                         <br><br>Third Floor
                                     </a>
                                     <!-- Modal -->
                                       <div id="myModal3" class="modal fade" role="dialog">
                                           <div class="modal-dialog modal-lg">
                                               <!-- Modal content-->
                                               <div class="modal-content">
                                                   <div class="modal-body"><button type="button" class="close" data-dismiss="modal">&times;</button>
                                                      <object data="{% static 'users/files/floor_plans/third_floor.pdf' %}"
                                                              type="application/pdf" width="100%" height="800px"></object>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                          </div>
                     </div>
                     <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                         <div class="embed-responsive embed-responsive-16by9">
                             <iframe class="embed-responsive-item" src="https://boltonbloks.shapespark.com/3-storey_house/" allowfullscreen></iframe>
                           </div>
                     </div>
                 </div>
              </div>
         </div>
     </div>
     <p>*All prices are subject to change. Please contact info@boltonbloks.com for latest pricing.</p>
 </div>

</section>


{% block  js %}
<script type="text/javascript">
 $(document).ready(function(){
     $('.slider-for').slick({
         slidesToShow: 1,
         slidesToScroll: 1,
         arrows: false,
         fade: true,
         asNavFor: '.slider-nav'
     });
     $('.slider-nav').slick({
         slidesToShow: 3,
         slidesToScroll: 1,
         asNavFor: '.slider-for',
         arrows: true,
         dots: false,
         centerMode: true,
         focusOnSelect: true
     });
 });
</script>
{% endblock %}

{% endblock %}