{% extends 'users/base.html' %}

{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-md-12 col-sm-12">

            <div class="alert alert-info mt-5">
                Your Password has been updated!
            </div>

        <a class="btn btn-black mt-4" href="/register">Sign In Here</a>
        </div>
    </div>
</div>

{% endblock %}