{% extends 'users/base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Reset Password Confirm</legend>
                    
                    {% for field in form %}
                    <div id="id_register_{{forloop.counter}}" class="md-form">
                        <i class="prefix"> </i>
                        <label class="label" data-error="wrong"
                            data-success="right">{{field.label}}</label><br>
                        {{field}}
                        {% for error in field.errors %}
                        <p style="font-size:14px " class="help text-danger ml-5">{{error}}</p>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-black" type="submit">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</div>
 
{% endblock content %}