{% extends 'users/base.html' %}
{% load crispy_forms_tags crispy_forms_field %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row"> 
        <div class="col-md-12 col-sm-12">            
            <form method="POST">
                {% csrf_token %}
                <legend class="border-bottom mb-4 ">Reset Password</legend>
                <fieldset class="form-group">
                    {% for field in form %}
                    <div class="md-form ">
                        <i class="prefix"> </i>
                        <label for="{{field.id_for_label}}" class="label" data-error="wrong"
                            data-success="right">{{field.label}}</label><br>
                        {{field}}
                        {% for error in field.errors %}
                        <p style="font-size:14px " class="help text-danger ml-5">{{error}}</p>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </fieldset>
                <div class="form-group text-center">
                    <button class="btn btn-black mt-4" type="submit">Password Reset</button>
                </div>
            </form>        
        </div>
    </div>
</div>
 
{% endblock content %}