{% extends "users/base.html" %}
{% block content%}
<div class="container">
    <div class="row">
        <div class="col-md-12" >
            {% for errors in form.non_field.errors %}
            <p style="font-size:14px" class="help text-danger ml-5">{{error}}</p>
            {% endfor%}
            <form method="POST" class="boxshadow2">
                {% csrf_token %}
                <h1 class="text-center">Registration</h1>
                <hr class="ml-4">
                {% for field in form %}

                    {% if field == form.user_type %}
                    <div id="id_radio_field_{{forloop.counter}}" class="ml-4 radio_ul" style="display: block;">
                        <label class="label" for="{{field.id_for_label}}">{{field.label}}:</label>
                        {{field}}
                    </div>

                {%else%}
                    <div id="id_register_{{forloop.counter}}" class="md-form">
                        <i class="prefix"> </i>
                        <label for="{{field.id_for_label}}" class="label" data-error="wrong"
                            data-success="right">{{field.label}}
                            {% if 'Phone' in field.label or "Company" in field.label or "Title" in field.label %}
                            <span style="font-size: small;" class="text-muted ml-2">(optional) </span>
                            {% endif %}
                        </label><br>
                        {{field}}
                        {% for error in field.errors %}
                        <p style="font-size:14px " class="help text-danger ml-5">{{error}}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                {% endfor %}
                <div class="form-group fa-pull-right">
                    <button class="btn btn-black btn-lg" type="submit">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock%}