{% load static %}
{% autoescape on %}

<table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width:800px;margin-top: 60px;">
	<tbody>
		<tr>
			<td align="center" width="100%">
				<table align="center" width="800" border="0" bgcolor="#F2F2F2" cellpadding="0" cellspacing="0">
					<tbody>
						<tr
							style='font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";'>
							<td style="padding-left: 60px;padding-right: 60px;text-align: justify;">
								<br />
								<table>
									<tbody>
										<tr>
											<td><img src="http://{{ domain }}{% static 'users/imgs/arc_logo.png' %}">
											</td>
											<td style="padding-left: 60px;"><h1 class=" col text-center c-header"
												style="text-align: center !important;font-weight: 700;color: #319431;">
												Sign Up Successful</h1>
											</td>
										</tr>
									</tbody>
								</table>
								<br />
								<span>
									Hi <b>{{ user.first_name }} {{user.last_name}}</b>,
								</span>
								<br/><br/>
								<span>				
									{% if user.dealer_no %}Your Dealer Number is <b>{{user.dealer_no}}</b>
									{% endif %}
								</span>
							</td>
						</tr>
						<tr style='font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";'>
							<td style="padding-left: 60px;padding-right: 60px;text-align: justify;">
								<br/>
								{% if 'content' in req_for %}
								<span>
									<b>To visit page</b> , Please <a
										href="http://{{ domain }}"
										target="_blank">Click here</a>.
								</span>
								<br>

								{% elif 'home' in req_for %}
								<span>
									<b>To visit page</b> , Please <a
										href="http://{{ domain }}"
										target="_blank">Click here</a>.
								</span>
								{%endif%}
								<br><br>

								{% if 'content' in req_for %}
								<span>
									If Link does not work then open this Url in your browser.<br>
									http://{{ domain }}
								</span>
								{% elif 'home' in req_for %}
								<span>
									If Link does not work then open this Url in your browser.<br>
									http://{{ domain }}
								</span>
								{% endif %}

								<br /><br />
								<span>
									Thanks,<br/> <b>Team BoltonBloks</b>
								</span>
								<br/> <br/> <br/>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>

{% endautoescape %}
