{% extends 'users/base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            
        </div>
    </div>
</div>

{% endblock %}