{% extends 'users/base.html' %}
{% load static %}

{% block content %}
     <section>
      <div class="container-fluid home-model-bg">
          <div class="row">
              <div class="col-lg-12 space mt-2">
                 <p class="thanku-p1">Thank you for signing up. </p>
                 <p class="thanku-p2">If you have any questions, please contact us at info@boltonbloks.com</p>
              </div>
              <div class="col-lg-12 explore-parent">
                <div class="container  home-feature">

                  <div class="txt-center feature-txt">
                    <span class="perks m-font">EXPLORE</span>
                  </div>
                  <div class="row color-dg">
                    <div class="col-sm-12 col-md-4">
                      <div class="card">
                        <img class="card-img-top" src="{% static 'users/new_custom/img/Living-Area-FINAL.jpg' %}" alt="Card image cap">
                        <div class="card-body">
                          <p class="card-title color-dg">ASSEMBLING PROCESS</p>
                          <p class="card-text color-dg">Watch live assembing process of our prototype.</p>
                          <a class="black-btn mr-3" href="#">READ MORE</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                      <div class="card">
                        <img class="card-img-top" src="{% static 'users/new_custom/img/Bedroom-FINAL.jpg' %}" alt="Card image cap">
                        <div class="card-body">
                          <p class="card-title color-dg">FEATURED PROJECTS</p>
                          <p class="card-text color-dg">Watch live assembing process of our prototype..</p>
                          <a class="black-btn mr-3" href="#">READ MORE</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                      <div class="card">
                        <img class="card-img-top" src="{% static 'users/new_custom/img/Kitchen-FINAL.jpg' %}" alt="Card image cap">
                        <div class="card-body">
                          <p class="card-title color-dg">UPCOMING PROJECTS</p>
                          <p class="card-text color-dg">Watch live assembing process of our prototype.</p>
                          <a class="black-btn mr-3" href="#">READ MORE</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
  </section>
{% endblock %}