

{% extends 'users/base.html' %}
{% load static %}

{% block content %}
	<div class="container-fluid">
		<h2 class="text-center mb-4"><strong>Virtual Visit</strong></h2>
		<div class="row">
			<div id="_3d_render" class="col-md-12 col-sm-12">
				<iframe height=100% width=100% src="https://boltonbloks.shapespark.com/3-storey_house/">
				</iframe>
			</div>
		</div>
	</div>
{% endblock %}

