{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block custom_css %}
      <link type="text/css" rel="stylesheet" href="{% static 'users/custom/sign_up.css' %}" />
      <style type="text/css">

      .registration_form_input nav {
         border: none;
      }
      ul{
         padding-left: 3px !important;
      }
      ul li {
         list-style-type: none;
      }
      ul li a{
         color: #999999;
      }
      .checkbox-container ul li label{
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 16px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      .checkmark {
        position: absolute;
        top: 3px;
        left: -3px;
        height: 22px;
        width: 22px;
        background-color: #f0f0f0;
         border: 1px solid;
        border-radius: 4px;
      }

      /*/* Hide the browser's default checkbox */
      .checkbox-container ul li label input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      /* Style the checkmark/indicator */
      .checkbox-container .checkmark:after {
          top:1px;
      }
      /* On mouse-over, add a grey background color */
      .checkbox-container ul li:hover input[type="checkbox"] ~ .checkmark {
         background-color: #ccc;
         mso-border-shadow: yes;
         border: 2px solid;
      }
      .align_li li{
         display: inline-flex;
         width: 180px !important;
         margin: 0px 20px 0px 0px;
      }
      .align_li li label{
         margin: 0;
         margin-top: 2px;
      }
   </style>
{% endblock %}
{% block content%}
<div class="container custom_font2">
    <div class="row mt-5 mb-5">
       <div class="col-md-9 col-sm-12 bg-white m-auto p-0">
         <form method="POST" class="checkbox-containers custom_input ml-0 mr-0" >
          {% csrf_token %}
				 <p class="text-center text-uppercase text-muted">Checkout - Step {{wizard.steps.step1}} of
					 {{wizard.steps.count}}</p>
				 {{ wizard.management_form }}
          {% for field in wizard.form %}
             {% if field == form.learn_about_electric_drive %}
                <div id="div_id_{{field.name}}" class="ml-4 radio_ul checkbox-container" style="display: block;">
                    <label class="label" style="margin-left: -10px;" for="{{field.id_for_label}}">{{field.label}}</label>
                    {{field}}
                </div>

             {% elif field == form.type_of_electric_vehicle_function or field == form.type_of_smart_home or field == form.type_of_development%}
                <div id="div_id_{{field.name}}" class="ml-4 check_ul checkbox-container" style="display: block;">

                    <label style="margin-left: -10px;" for="{{field.id_for_label}}" class="label" data-error="wrong"
                        data-success="right">{{field.label}}
                    </label>
                    {{field}}
                </div>

             {% else %}
                <div id="div_{{field.id_for_label}}" class="checkbox-container">
                    <i class="prefix"> </i>
                    <label  for="{{field.id_for_label}}" class="label" data-error="wrong"
                        data-success="right">{{field.label}}
                    </label><br>
                    {{field}}
                    {% for error in field.errors %}
                    <p style="font-size:14px" class="help text-danger ml-5">{{error}}</p>
                    {% endfor %}
                </div>
             {% endif %}
          {% endfor %}
            <div class="text-center mb-4">
              {% include "users/formwizard_btns.html" %}
            </div>
         </form>
      </div>
    </div>
</div>

   {% block js %}
   <script type="text/javascript">
      chk='<span class="checkmark"></span>'
      $(chk).appendTo('ul li label')
      $('#div_id_2-other_type_of_development').removeClass('checkbox-container')
      $('#div_').addClass('align_li')
   </script>
   {% endblock%}
{% endblock%}