{% extends 'users/base.html' %}
{% load humanize %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 table-responsive">
            <div class="text-center mb-4"><h1>Your Order</h1></div>
            <table class="table view_order_table table-bordered text-center">
                <thead>
                    <tr>
                        <th>No. of Floors</th>
                        <th>Variant</th>
                        <th>Quantity</th>
                        <th>Delivery Date</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for value in cart %}
                    <tr>                       
                        <td>{{value.floors}}</td>
                        <td>{{value.variant}}</td>
                        <td>{{value.quantity}}</td>
                        <td>{{value.delivery_date|naturalday}}</td>
                        <td>$ {{value.price|intcomma}}</td>
                        <td><a class="text-info" href="{% url 'remove-cart' value.product.id %}">Remove</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tr>
                    <th colspan="5">Total</th>
                    <td>$ {{ cart.get_total_price|intcomma }}</td>
                </tr>
            </table>
            <form method="POST" action="{%url 'save-cart'%}">
                {% csrf_token %}
                <button type="submit" class="fa-pull-right btn btn-outline-info ">Save Order</button>
            </form>
            <a  class="btn btn-outline-info" href="{% url 'order-form' %}">Add More</a>
        </div>
    </div>
</div>
{% endblock %}