{% extends "users/base.html" %}

{% load static %}
{% block content%}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                
            <table class="view_order_table table table-striped table-bordered animate zoomIn">
                <legend class="text-center" ><b>Prospective Homeowners</b></legend>
                <tr>
                <th>#</th><th>First Name</th><th>Last Name</th><th>Email</th><th>Phone Number</th></tr>
                {% for order in orders %}
                    <tr>
                        <th><strong>{{forloop.counter}}</strong></th>
                        <td>{{order.first_name}}</td>
                        <td>{{order.last_name}}</td>
                        <td>{{order.email}}</td>
                        <td>{{order.phone_number}}</td>            
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock%}

{% block js %}
{% if request.user.is_authenticated != True %}

<script>
    var time = {{time|safe}};
    var uid = "{{uid|safe}}";   
    let input = [time,uid]
 
    function counter(time_left,uid) {
     var expiryTime = time_left;
     var time = $('.counter').val();
     time = parseInt
     time = time + 1;
     if(time > expiryTime) {
          window.location.href = "/buyer/applications/"+uid;	 
     }
     else {
 $('.counter').val;
     }
}

console.log('trying')

setInterval(counter,1000,...input);

</script>
{% endif %}
{% endblock %}