{% extends 'users/base.html' %}
{% load static %}
{% block content %}

<div id="tabs" class="container project-tab custom_font2">
	<div class="row">
		<div class="col-md-8 m-auto p-0 pb-5 bottom_border">
			<form method="POST" class="custom_input">
			<p class="text-center text-uppercase text-muted">Checkout - Step {{wizard.steps.step1}} of
					 {{wizard.steps.count}}</p>
				<h3 class="mt-5 mb-5">Shipping Information</h3>
				{% csrf_token %}
				{{ wizard.management_form }}
				{% for field in wizard.form %}
					{% if field == wizard.form.state %}
						 <div class="w-100" style="width: 100%; display:flex;">
								<label for="id_state">{{ wizard.form.state.label }}</label>
								<div style=" margin-top: 60px; margin-left: -65px;">
									 {{ wizard.form.state }}
								</div>
								<label for="id_postal" style="position: relative; left: 18px;"
								>{{ wizard.form.postal.label }}</label>
								<div style="margin-top: 60px; margin-left:-53px;">
									 {{ wizard.form.postal }}
								</div>
						 </div>
					{% elif field == wizard.form.postal %}
					{% else %}
						<label>{{ field.label }}</label>
						{{ field }}
					{% endif %}
				{% endfor %}
				 <br/><br/>
				 {% include "users/formwizard_btns.html" %}<br/><br/>
			</form>
		</div>
	</div>
</div>

{% endblock %}