{% extends 'users/base.html' %}
{% load staticfiles %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}
   {% block custom_css %}
     <style>
      .custom_ul{
        list-style-type: disc !important;
        overflow: unset;
        font-size: 16px;
      }
     .custom_ul li{
       margin-left: 20px;
     }
     .custom_input input, select{
       width: 80%;
       border-radius: 5px;
       background-color: unset;
     }
     thead{
       background-color: #f2f2f2;
     }
		 .view_order_table th{
			 color: #555;
		 }
		 tbody{
			 color: #616161;
		 }
		.text-info1 {
				color: #5ca6cf !important;
		}

     </style>
   {% endblock %}
{% block content %}
<div class="container custom_font2">
    <div class="row">
        <div class="col-md-12 col-sm-12  order_form_h2">
            <h2 class="text-center text-uppercase">Place an Order</h2>
            <div class="col-md-12 table-responsive">
            	<div class="w-100">
					<h3 class="text-info1 text-uppercase">Individual units</h3>
					<ul class="nav custom_ul mb-4">
						<b> We have models suited for</b>:
						<li>Single-family homes</li>
						<li>duplex</li>
						<li>Triplex</li>
						<li>Man camps</li>
						<li>Employee	housing</li>
						<li>other</li>
					</ul>
				</div>
                <table class="table view_order_table table text-center">
                  <thead>
                    <tr>
                      <th>Model</th>
                      <th>Delivered Price <br>(Delivered to site for <br>20 units or less)</th>
                      <th>Delivered Price <br>(Delivered to site for <br>21 or more units)</th>
                      <th>Qty</th>
                      <th>Furnishing Option</th>
                      <th>Add To Order</th>
                    </tr>
                  </thead>
                    <tbody>

                        {% for data in pricing %}
						<form autocomplete="off" id="order_form_{{ data.id }}" onsubmit="event.preventDefault();
						form_submissions(this.id);" method="POST" enctype="multipart/form-data">
							{% csrf_token %}
							<tr>
							  <td><img class="img-fluid" src="{{ data.model_image }}"/>
								  {{data.no_of_floors}} {{data.variant}}<br>{{data.square_feet}} sq. ft.<br>
								  {% if data.model_link %}
									<a href="/models/{{ data.model_link }}">View Details</a>
								  {% endif %}
							  </td>
							  <td >$ {{data.price|intcomma}}</td>
							  <td >$ {{data.price21|intcomma}}</td>
							  <td>
								<select id="AgeDropdownId" name="quantity"  class="AgeDropdown p-1" required>
								  <option value="" selected>-</option>
									{% for i in quantity %}
									  <option value="{{forloop.counter}}##{{data.id}}">{{forloop.counter}}</option>
									{% endfor %}
								</select>
							  </td>
								<td>
									<select class="p-1" name="furnishing_option" required>
										<option value="Fully Furnished">Fully Furnished</option>
									</select>
								</td>
								<td>
									<button class="btn" type="submit"><i class="fa fa-plus" aria-hidden="true"></i></button>
								</td>
							</tr>
						</form>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        <div class="w-100 p-3">
            <h3 class="text-info1 text-uppercase">Multi-unit complex:</h3>
            <ul class="custom_ul nav mb-3" >
              <li>Apartment buildings</li>
              <li>Mixed-use</li>
              <li>Hotel</li>
              <li>Motel</li>
              <li>Boutique Hotel</li>
              <li>Condominium</li>
              <li>Town homes</li>
              <li>Hospitals</li>
              <li>Student Housing </li>
              <li>other</li>
            </ul>
        </div>
        <div class="col-md-12 table-responsive">
            <table class="table view_order_table text-center">
                <thead class="text-uppercase">
                    <tr valign="top">
                        <th> No. of Floors (Max12)</th>
                        <th>Width (Apt. units)</th>
                        <th>Depth (Apt. units)</th>
                        <th>Approx. <br>SQ. Ft. per room</th>
                        <th>Price per 290 sq. ft. room(for < 20units)</th>
                        <th>Price per 290 sq. ft. room(for > 21units)</th>
                        <th>Qty</th>
                        <th>Furnishing option</th>
						<th>Add to Order</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
						<form autocomplete="off" id="custom_order" onsubmit="event.preventDefault();
								form_submissions(this.id);" method="POST" enctype="multipart/form-data">
									{% csrf_token %}
							<td>{{form2.no_of_floors|add_class:"p-1"}} stories</td>
							<td><span>{{form2.width|add_class:"p-1"}} wide </span></td>
							<td>{{form2.depth|add_class:"p-1"}} deep</td>
							<td>{{custom_pricing.sqfeet_per_room|intcomma}}</td>
							<td>$ {{custom_pricing.custom_price|intcomma}}</td>
							<td>$ {{custom_pricing.custom_price21|intcomma}}</td>
							<td>
								<select id="AgeDropdownId" required name="custom_quantity"  class="AgeDropdown p-1">
									<option value="" selected>-</option>
									{% for i in quantity %}
										<option value="{{forloop.counter}}##{{custom_pricing.id}}">{{forloop.counter}}</option>
									{% endfor %}
								</select>
							</td>
							<td>
								<select class="p-1" required name="furnishing_option_custom">
									<option value="Fully Furnished">Fully Furnished</option>
								</select>
							</td>
							<td>
								<button class="btn" type="submit"><i class="fa fa-plus" aria-hidden="true"></i></button>
							</td>
						</form>
                    </tr>
                </tbody>
            </table>
        </div>
		<p class="text-uppercase"><b>Total</b> <span id="total"> - </span></p>
		<div class="col-md-12 mt-5 mb-5">
			<h5 class="text-info1 text-uppercase">Electric vehicle Add-ons (coming soon)</h5>
			<p class="text-muted" style="font-size: .9rem">
				All units are eligible to come with a free Electric Vehicle.
			</p>
			<table class="table view_order_table text-center">
				<thead>
				<tr class="text-uppercase">
					<th>MODEL</th>
					<th>Seating Capacity</th>
					<th>Range</th>
					<th>QTY</th>
					<th>Body Color</th>
				</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<img class="img-fluid" src="{% static '/users/imgs/coming_soon.png' %}" alt="car-image"><br/>
							<a href="#" class="text-info1">EV Compact SUV</a>
						</td>
						<td>4</td>
						<td>180-350 Miles</td>
						<td>
							<select onchange="form_submissions()" id="AgeDropdownId" name="vehicle_quantity"
									class="AgeDropdown p-1">
                                <option value="" selected>-</option>
                                {% for i in quantity %}
                                    <option value="{{forloop.counter}}##{{custom_pricing.id}}">{{forloop.counter}}</option>
                                {% endfor %}
                            </select>
						</td>
						<td>
							<select name="body-color">
								<option value="Blue">Blue</option>
								<option value="Orange">Orange</option>
								<option value="Orange">Black</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>
							<img class="img-fluid" src="{% static '/users/imgs/coming_soon.png' %}"
								 alt="car-image"><br/>
							<a href="#" class="text-info1">EV Coupe SUV</a>
						</td>
						<td>2</td>
						<td>180-350 Miles</td>
						<td>
							<select onchange="form_submissions()" id="AgeDropdownId" name="vehicle_quantity"
									class="AgeDropdown p-1">
                                <option value="" selected>-</option>
                                {% for i in quantity %}
                                    <option value="{{forloop.counter}}##{{custom_pricing.id}}">{{forloop.counter}}</option>
                                {% endfor %}
                            </select>
						</td>
						<td>
							<select name="body-color">
								<option value="Blue">Blue</option>
								<option value="Orange">Orange</option>
								<option value="Orange">Black</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>
							<img class="img-fluid" src="{% static '/users/imgs/coming_soon.png' %}" alt="car-image"><br/>
							<a href="#" class="text-info1">EV Community Bus</a>
						</td>
						<td>16</td>
						<td>180-350 Miles</td>
						<td>
							<select onchange="form_submissions()" id="AgeDropdownId" name="vehicle_quantity"
									class="AgeDropdown p-1">
                                <option value="" selected>-</option>
                                {% for i in quantity %}
                                    <option value="{{forloop.counter}}##{{custom_pricing.id}}">{{forloop.counter}}</option>
                                {% endfor %}
                            </select>
						</td>
						<td>
							<select name="body-color">
								<option value="Blue">Blue</option>
								<option value="Orange">Orange</option>
								<option value="Orange">Black</option>
							</select>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div>
			<p class="text-uppercase"><b>Grand Total</b> <span id="grand-total"> - </span></p>
	   	</div>
		<div class="w-100 p-4 mt-5" style="background-color: #f2f2f2;" >
			<p>This is a preliminary order---not a commitment to complete the purchase---and its cancellation shall
				be at no cost to the buyer.</p>
			<br/><p>We reserve the right to make changes to our Housing and Electric Vehicle models at any time as
			we continue to improve and upgrade our products and techologies. Prices are subject to change at any
			time.</p>
		</div>
		  <form autocomplete="off" id="order_form" method="POST" enctype="multipart/form-data">
			  {% csrf_token %}
			{{ wizard.management_form }}
			<div style="float: right">
			 {% include "users/formwizard_btns.html" %}
           </div>
        </form>
        </div>
    </div>
</div>

{% endblock %}

{% comment %} {% block js %}
<script>

    Webcam.set({
        width: 300,
        height: 400,
        image_format: 'jpeg',
        jpeg_quality: 90,

        });
    Webcam.attach('#div_id' );
</script>
{% endblock %} {% endcomment %}
