
{% extends "users/base.html"%}

{% block content %}

<div class="container ">
    <div class="row">
        <div class="col-md-12 text-center mt-5 mb-5">
            <form method="POST">
                {% csrf_token %}
                <h3 class="text-danger">Your Access has been expired.</h3>
                <h4>Click the button to send request for the extension of access time.</h4>
                <button class="btn btn-black btn-lg mt-4"><h3>Send Request</h3></button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}
