
{% extends 'users/base.html' %}
{% load humanize %}
{% load widget_tweaks %}
{% load static %}
{% block custom_css %}
      <link type="text/css" rel="stylesheet" href="{% static 'users/custom/sign_up.css' %}" />
      <style type="text/css">

      .registration_form_input nav {
         border: none;
      }
      ul{
         padding-left: 3px !important;
      }
      ul li {
         list-style-type: none;
      }
      ul li a{
         color: #999999;
      }
	  .checkbox-container ul{
		  margin-left: 15px;
	  }
      .checkbox-container ul li label{
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 16px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      .checkmark {
        position: absolute;
        top: 3px;
        left: -3px;
        height: 22px;
        width: 22px;
        background-color: #f0f0f0;
         border: 1px solid;
        border-radius: 4px;
      }

      /*/* Hide the browser's default checkbox */
      .checkbox-container ul li label input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      /* Style the checkmark/indicator */
      .checkbox-container .checkmark:after {
          top:1px;
      }
      /* On mouse-over, add a grey background color */

      .align_li li{
         display: inline-flex;
         width: 180px !important;
         margin: 0px 10px 0px 0px;
      }
      .align_li li label{
         margin: 0;
         margin-left: 0;
         margin-top: 2px;
      }
   </style>
{% endblock %}
{% block content %}
<div class="container">
        <h2 class="text-center mt-5 mb-5"><strong>Order Summary</strong></h2>
    <div class="row">
        <div class="col-md-12 col-sm-12 table-responsive">
            <table class="table view_order_table text-center table-striped">
                <thead>
                    <tr>
                        <th>Model</th>
{#                        <th>Delivered Price <br>(Delivered to site for <br>21 or more units)</th>#}
                        <th>Qty</th>
                        <th>Furnishing Option</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in order.values %}
						{% if "width" not in i.keys %}
							<tr>
								<td><img class="img-fluid pb-2" src="{{ i.model_image }}"/>{{i.no_of_floors}}
									{{i.variant}}<br/> {{i.square_feet}} sq. ft</td>
								<td>{{i.quantity}}</td>
								<td>{{i.furnished_option}}</td>
								<td >$ {{i.price|intcomma}}</td>
							</tr>
						{% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
        {% if custom_order != None %}
        <div class="row">
            <div class="col-md-12 col-sm-12 mt-5 table-responsive">
                <table class="table view_order_table text-center table-striped">
                    <legend class="text-center font-weight-bold">Custom Order</legend>
                    <thead>
                        <tr valign="top">  
                            <th> No. of Floors (max12)</th>
                            <th>Width (apt. units)</th>
                            <th>Depth (apt. units)</th>
                            <th>Approx. <br>Square Feet per room</th>
                            <th>Qty</th>
                            <th>Furnishing Option</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{custom_order.no_of_floors}} </td>
                            <td><span>{{custom_order.width}} wide </span></td>
                            <td>{{custom_order.depth}} deep</td>
                            <td>{{custom_order.sqfeet_per_room}}</td>
                            <td>{{custom_order.quantity}}</td>
                            <td>{{custom_order.furnishing_option_custom}}</td>
                            <td>$ {{custom_order.price|intcomma}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
		<div class="w-100">
			<h5 class="mt-3 text-center" >Grand Total: <b>{{ total|intcomma }}</b></h5>
		</div>

		<div class="row mt-5 mb-5">
			<div class="col-md-4">
				<div class="w-100"><p class="text-info font-weight-bold">Buyer Information</p></div>
				<ul>
					<li><span class="text-capitalize">Name: </span> {{ buyer_info.f_name }} {{ buyer_info.f_name }}</li>
					{% if buyer_info.email %}
						<li><span class="text-capitalize">Email: </span> {{ buyer_info.email }} </li>
					{% endif %}
					{% if buyer_info.phone_number %}
						<li><span class="text-capitalize">Phone No. </span> {{ buyer_info.phone_number }} </li>
					{% endif %}
					{% if buyer_info.company_name %}
						<li><span class="text-capitalize">Company Name: </span> {{ buyer_info.company_name }} </li>
					{% endif %}
				</ul>
			</div>
			<div class="col-md-4">
				<div class="w-100"><p class="text-info font-weight-bold">Shipping Address</p></div>
				<ul>
					{% for key, value in shipping_info.items %}
						{% if key != 'delivery_date' %}
							<li><span class="text-capitalize">{{ key }}: </span> {{ value }}</li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
			<div class="col-md-4">
				<div class="w-100"><p class="text-info font-weight-bold">Delivery On</p></div>
				<ul>
					<li>{{ shipping_info.delivery_date }}</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h5 class="text-info1">Site Information</h5>
				<form method="POST" class="checkbox-containers custom_input ml-0 mr-0" >
					{% for field in buyer_app1 %}
					<div id="div_{{field.id_for_label}}" class="checkbox-container">
						<i class="prefix"> </i>
						<label  for="{{field.id_for_label}}" class="label" data-error="wrong"
							data-success="right">{{field.label}}
						</label><br>
						{{field}}
						{% for error in field.errors %}
						<p style="font-size:14px" class="help text-danger ml-5">{{error}}</p>
						{% endfor %}
					</div>
					{% endfor %}
				</form>
			</div>
		</div>

	<div class="row">
        <div class="col-md-12 col-sm-12 mt-4 mb-5">
            <form method="POST">
                {%csrf_token%}
                {{ wizard.management_form }}
				<div class="form-group text-center">
                {% if wizard.steps.prev %}
                        <button  name="wizard_goto_step" class="btn btn-custom btn-lg"  value="{{ wizard.steps.prev }}" formnovalidate="formnovalidate">Previous</button>
                {% endif %}

                    {% if wizard.steps.next %}
                        <button type="submit" class="btn btn-custom btn-lg">Continue</button>
                    {% else %}
                    <button type="submit" class="btn btn-custom btn-lg">
                    {%if next_button%}
                        as{{next_button}}
                        {%else%}
                        Submit
                        {%endif%}
                    </button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>
{% block js %}
   <script type="text/javascript">
      chk='<span class="checkmark"></span>'
      $(chk).appendTo('ul li label')
      $('#div_id_2-other_type_of_development').removeClass('checkbox-container')
      $('#div_').addClass('align_li')
   	$('.checkbox-containers input').attr('disabled', 'disabled');
   </script>
{% endblock%}
{% endblock %}


          