{% extends "users/base.html" %}

{% load static %}
{% block content%}

<div class="container">
    <div class="row">
        <div class="col-md-12 table-responsive">
            <div class="text-center mb-5">
                <h1>Quotations by Vendors</h1>
            </div>    
            <div class="mb-2">
                
            </div>       
            <table class="table font_8">
                <thead>
                    <th><strong>Material</strong></th>
                    <th><strong>User Name</strong></th>
                    <th><strong>Company Name</strong></th>
                    <th><strong>Price</strong></th>
                </thead>
                <tbody>
                    {% for i in qs %}
                    <tr>
                        <td>{{i.material_name}}</td>
                        <td>{{i.user_name}}</td>
                        <td>{{i.company_name}}</td>
                        <td>{{i.price}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock%}
