{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}
{% block content%}

<div class="container">
    <div class="row">
        <div class="col-md-12 table-responsive">
            <table class="text-center view_order_table table table-striped table-bordered animate zoomIn">
                <tr>
                <th><b>#</b></th><th>Company Name</th><th>First Name</th><th>Last Name</th><th>Email</th><th>Phone Number</th><th>When to Order</th><th>Letter of Credit</th><th>Line of Credit</th></tr>
                {% for order in orders %}
                    <tr>
                        <td colspan="0"><strong>{{forloop.counter}}</strong></td>
                        <td>{{order.company_name}}</td>
                        <td>{{order.f_name}}</td>
                        <td>{{order.l_name}}</td>
                        <td>{{order.email}}</td>
                        <td>{{order.phone_number}}</td>
                        {% if order.when_to_order != 'other' %}
                        <td>{{order.when_to_order}}</td>
                        {% elif order.when_to_order == 'other' %}
                        <td>Within {{order.other_when_to_order}} Days</td>
                        {% endif %}
                        <td>${{order.how_much_letter_of_credit|intcomma}}</td>
                        <td>${{order.how_much_line_of_credit|intcomma}}</td>
                    </tr>
                    {% endfor %}
                </table>
        </div>
    </div>
 </div>

{% endblock%}

