{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}
{% block content%}

<div class="container custom_font2">
    <div class="row">
      {% if not request.user.is_superuser %}
         {% include 'signup/side_nav.html' %}
      {% endif %}
        <div class="{% if not request.user.is_superuser %}col-md-9{% else %}col-md-12{% endif %} m-auto
        table-responsive p-0">
            <table class="table view_order_table text-center">
                {% for data in items|slice:":1" %}
                   {% if request.user.is_superuser %}
                    <legend class="mb-5"><h2 class="text-capitalize"><b>Order by: </b> {{data.user.first_name}} {{data.user.last_name}}</h2><br><b>Email:</b> {{data.user.email}}</legend>
                  {% else %}
                      <legend class="text-muted mb-5"><h2 class="text-capitalize" style="font-weight: 500 !important;
                           ">Order History</h2></legend>
                  {% endif %}
                {% endfor %}
                <thead>
                    <tr class="text-uppercase">
                        <th>Order Date</th>
                        <th>No of Floors</th>
                        <th>Variant</th>
                        <th>Area</th>
                        <th>Quantity</th>
                       <th>Price/<span class="text-muted small">unit</span></th>
                        <th>Delivery Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in items %}
                    {% if i.order_items.no_of_floors %}
                        <tr>
                            <td>{{i.ordered_on}}</td>
                            <td>{{i.order_items.no_of_floors}}</td>
                            <td>{{i.order_items.variant}}</td>
                            <td>{{i.order_items.square_feet}}</td>
                            <td>{{i.quantity}}</td>
                            <td class="text-capitalize">$ {{i.order_items.price|intcomma}}</td>
                            <td>{{i.delivery_date}}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table><br>
            <table class="table view_order_table text-center">
                {% for data in items|slice:":1" %}
                    <legend class="text-center mb-5"><h2 class="text-capitalize"><b>Custom Orders </b></h2></legend>
                {% endfor %}
                <thead>
                <tr>
                    <th> No. of Floors</th>
                    <th>Width </th>
                    <th>Depth</th>
                    <th>Approx. <br>Square Feet per room</th>
                    <th>Price per 290s.f. room(for 20units or less)</th>
                    <th>Price per 290s.f. room(for 21units or more)</th>
                    <th>Qty</th>
                    <th>Ordered On</th>
                    <th>Date Delivered<br> (to site)</th>
                </tr>
                </thead>
                <tbody>
                    {% for i in items %}
                        {% if i.custom_floors %}
                        <tr>
                            <td>{{i.custom_floors}}</td>
                            <td>{{i.custom_width}}</td>
                            <td>{{i.custom_depth}}</td>
                            <td>{{i.custom_order.sqfeet_per_room}}</td>
                            <td>$ {{i.custom_order.custom_price|intcomma}}</td>
                            <td>$ {{i.custom_order.custom_price21|intcomma}}</td>
                            <td>{{i.quantity}}</td>
                            <td>{{i.ordered_on}}</td>
                            <td>{{i.delivery_date}}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock%}